<h5>Multiple-Choice-Antworten</h5>

<ion-label>Die korrekte Anwort:</ion-label>
<ion-item lines="none">
  <ion-thumbnail slot="start" *ngIf="photos[0]">
    <img [src]="photos[0]" />
  </ion-thumbnail>
  (1)
  <ion-button color="secondary" size="default" (click)=capturePhoto(0)>
    <ion-icon slot="icon-only" name="camera"></ion-icon>
  </ion-button>
</ion-item>

<ion-label>Drei falsche Antwortmöglichkeiten:</ion-label>
<ion-item lines="none">
  <ion-thumbnail slot="start" *ngIf="photos[1]">
    <img [src]="photos[1]" />
  </ion-thumbnail>
  (2)
  <ion-button color="secondary" size="default" (click)=capturePhoto(1)>
    <ion-icon slot="icon-only" name="camera"></ion-icon>
  </ion-button>
</ion-item>
<ion-item lines="none">
  <ion-thumbnail slot="start" *ngIf="photos[2]">
    <img [src]="photos[2]" />
  </ion-thumbnail>
  (3)
  <ion-button color="secondary" size="default" (click)=capturePhoto(2)>
    <ion-icon slot="icon-only" name="camera"></ion-icon>
  </ion-button>
</ion-item>
<ion-item lines="none">
  <ion-thumbnail slot="start" *ngIf="photos[3]">
    <img [src]="photos[3]" />
  </ion-thumbnail>
  (4)
  <ion-button color="secondary" size="default" (click)=capturePhoto(3)>
    <ion-icon slot="icon-only" name="camera"></ion-icon>
  </ion-button>
</ion-item>