<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="create-game-map" class="map"></div>
  <div class="overlay ion-padding">
    <p *ngIf="waypoints.length == 0" class="center">Wähle einen Startpunkt</p>

    <div class="list-wrapper">
      <ion-list *ngIf="waypoints.length != 0">
        <div *ngFor="let waypoint of waypoints; let i = index" [attr.data-index]="i">
          <ion-list-header>
            Waypoint {{ i + 1 }}
          </ion-list-header>
          <ion-chip color="primary" (click)=presentModal()>
            <ion-icon name="add"></ion-icon>
            <ion-label>Aufgabe</ion-label>
          </ion-chip>
          <!-- disabled false für reorder -->
          <!-- <ion-reorder-group id="reorder" disabled="true"> -->
          <ion-item *ngIf="waypoint.tasks.length != 0">
            <ion-label>Task 1</ion-label>
            <ion-icon name="close" slot="end"></ion-icon>
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>
          <!-- </ion-reorder-group> -->
        </div>
      </ion-list>
    </div>

    <div *ngIf="waypoints.length != 0" class="footer">
      <ion-chip color="secondary">
        <ion-icon name="add"></ion-icon>
        <ion-label>Ort</ion-label>
      </ion-chip>
      <ion-chip color="tertiary">
        <ion-icon name="add"></ion-icon>
        <ion-label>Lernmodul</ion-label>
      </ion-chip>
    </div>
  </div>
</ion-content>