<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Task Showroom</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>Hier erfährst du mehr über die verschiedenen Aufgabentypen in OriGami.</p>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="navigate"></ion-icon> Navigationsaufgaben
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Bei einer Navigationsaufgabe muss der Spieler zu einem neuen Ort navigieren. Es gibt vier Arten der Navigation:</p>
       
        <ion-chip color="primary">
          <ion-label><ion-icon name="navigate"></ion-icon> Navigation zur Zielfahne</ion-label>
        </ion-chip>
        <ion-grid><ion-row>
          <ion-col><b>Platz für ein Bild</b></ion-col>
          <ion-col>Der Spieler muss sich mittels Karte zum nächsten Zielpunkt begeben. Der Zielpunkt ist auf der Karte markiert.</ion-col>
        </ion-row></ion-grid>

        <ion-chip color="primary">
          <ion-label><ion-icon name="navigate"></ion-icon> Navigation mit Richtungspfeil</ion-label>
        </ion-chip>
          <ion-grid><ion-row><ion-col>Der Spieler wird von einem Richtungspfeil und mithilfe einer Entfernungsangabe in Metern zum nächsten Zielpunkt geleitet. Die Karte wird ausgeblendet.</ion-col></ion-row></ion-grid>
      
        <ion-chip color="primary">
          <ion-label><ion-icon name="navigate"></ion-icon> Navigation mit Textanweisung</ion-label>
        </ion-chip>
          <ion-grid><ion-row><ion-col>Der Spieler wird mittels Textanweisung zum nächsten Zielpunkt geleitet.</ion-col></ion-row></ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="clipboard"></ion-icon> Themenaufgaben
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Themenaufgaben sind stets ortsgebunden. Es gibt vier Arten, die hinsichtlich ihres Informationsgehalts nochmal weiter unterschieden werden können:</p>
         
          <ion-chip color="secondary">
            <ion-label><ion-icon name="clipboard"></ion-icon> Selbst-Lokalisation</ion-label>
          </ion-chip>
          <ion-grid><ion-row>
            <ion-col><b>Platz für ein Bild</b></ion-col>
            <ion-col> Text</ion-col>
          </ion-row></ion-grid>
  
          <ion-chip color="secondary">
            <ion-label><ion-icon name="clipboard"></ion-icon> Objekt-Lokalisation</ion-label>
          </ion-chip>
          <ion-grid><ion-row>
            <ion-col><b>Platz für ein Bild</b></ion-col>
            <ion-col> Text</ion-col>
          </ion-row></ion-grid>

          <ion-chip color="secondary">
            <ion-label><ion-icon name="clipboard"></ion-icon> Richtungsbestimmung</ion-label>
          </ion-chip>
          <ion-grid><ion-row>
            <ion-col><b>Platz für ein Bild</b></ion-col>
            <ion-col> Text</ion-col>
          </ion-row></ion-grid>
        </ion-card-content>
      </ion-card>

</ion-content>
