<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Aufgabentypen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="navigate" color="primary"></ion-icon> Navigationsaufgaben
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Navigationsaufgabe verlangen das Navigieren zu einem neuen Ort.</p>
       
        <ion-chip color="primary">
          <ion-label><ion-icon name="navigate"></ion-icon> Navigation zur Zielfahne</ion-label>
        </ion-chip>
        <ion-grid><ion-row>
          <ion-col><b>Platz für ein Bild</b></ion-col>
          <ion-col>Der nächste Zielpunkt ist mit einem Zielfähnchen auf der Karte markiert.</ion-col>
        </ion-row></ion-grid>

        <ion-chip color="primary">
          <ion-label><ion-icon name="navigate"></ion-icon> Navigation mit Richtungspfeil</ion-label>
        </ion-chip>
          <ion-grid><ion-row><ion-col>Der Spieler wird mittels Richtungspfeil und Entfernungsangabe zum nächsten Zielpunkt geleitet. Die Karte wird ausgeblendet.</ion-col></ion-row></ion-grid>
      
        <ion-chip color="primary">
          <ion-label><ion-icon name="navigate"></ion-icon> Navigation mit Textanweisung</ion-label>
        </ion-chip>
          <ion-grid><ion-row><ion-col>Der Spieler wird mittels Textanweisung zum nächsten Zielpunkt geleitet.</ion-col></ion-row></ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="clipboard" color="secondary"></ion-icon> Themenaufgaben
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Themenaufgaben sind ortsgebundene Aufgaben zum Kartenlesenlernen oder beliebigen anderen Themen.</p>
         
          <ion-chip color="secondary">
            <ion-label><ion-icon name="clipboard"></ion-icon> Selbst-Lokalisation</ion-label>
          </ion-chip>
          <ion-grid><ion-row>
            <ion-col><b>Platz für ein Bild</b></ion-col>
            <ion-col> Text</ion-col>
          </ion-row></ion-grid>
  
          <ion-chip color="secondary">
            <ion-label><ion-icon name="clipboard"></ion-icon> Objekt-Lokalisation</ion-label>
          </ion-chip>
          <ion-grid><ion-row>
            <ion-col><b>Platz für ein Bild</b></ion-col>
            <ion-col> Text</ion-col>
          </ion-row></ion-grid>

          <ion-chip color="secondary">
            <ion-label><ion-icon name="clipboard"></ion-icon> Richtungsbestimmung</ion-label>
          </ion-chip>
          <ion-grid><ion-row>
            <ion-col><b>Platz für ein Bild</b></ion-col>
            <ion-col> Text</ion-col>
          </ion-row></ion-grid>
        </ion-card-content>
      </ion-card>

</ion-content>
