<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color=dark defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "General.tasktypes" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="navigate" color="primary"></ion-icon> {{ "Tasktypes.navigationTasks" | translate }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ "Tasktypes.navigationtasksDescription" | translate }}<br></p>
       
        <ion-chip color="primary">
          <ion-label><ion-icon name="navigate"></ion-icon> {{ "Tasktypes.navigationToFlag" | translate }}</ion-label>
        </ion-chip>
        <p>{{ "Tasktypes.navtoflagDescription" | translate }}</p>
        
        <ion-chip color="primary">
          <ion-label><ion-icon name="navigate"></ion-icon> {{ "Tasktypes.navigationWithArrow" | translate }}</ion-label>
        </ion-chip>
        <p>{{ "Tasktypes.navwitharrowDescription" | translate }}</p>
      
        <ion-chip color="primary">
          <ion-label><ion-icon name="navigate"></ion-icon> {{ "Tasktypes.navigationViaText" | translate }}</ion-label>
        </ion-chip>
        <p>{{ "Tasktypes.navviatextDescription" | translate }}</p>

        <ion-chip color="primary">
          <ion-label><ion-icon name="navigate"></ion-icon> {{ "Tasktypes.navigationViaPhoto" | translate }}</ion-label>
        </ion-chip>
        <p>{{ "Tasktypes.navviaphotoDescription" | translate }}</p>

      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="clipboard" color="secondary"></ion-icon> {{ "Tasktypes.thematicTasks" | translate }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ "Tasktypes.themtasksDescription" | translate }}</p>
         
          <ion-chip color="secondary">
            <ion-label><ion-icon name="clipboard"></ion-icon> {{ "Tasktypes.selfLocation" | translate }}</ion-label>
          </ion-chip>
          <p>{{ "Tasktypes.selflocDescription" | translate }}</p>
  
          <ion-chip color="secondary">
            <ion-label><ion-icon name="clipboard"></ion-icon> {{ "Tasktypes.objectLocation" | translate }}</ion-label>
          </ion-chip>
          <p>{{ "Tasktypes.objectlocDescription" | translate }}</p>

          <ion-chip color="secondary">
            <ion-label><ion-icon name="clipboard"></ion-icon> {{ "Tasktypes.directionDetermination" | translate }}</ion-label>
          </ion-chip>
          <p>{{ "Tasktypes.directiondetermDescription" | translate }}</p>

          <ion-chip color="secondary">
            <ion-label><ion-icon name="clipboard"></ion-icon> {{ "Tasktypes.freeTasks" | translate }}</ion-label>
          </ion-chip>
          <p>{{ "Tasktypes.freetasksDescription" | translate }}</p>

        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>
            <ion-icon name="information-circle-outline" color="warning"></ion-icon> {{ "Tasktypes.information" | translate }}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{ "Tasktypes.informationDescription" | translate }}</p>
          </ion-card-content>
        </ion-card>

</ion-content>
