.map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.blur {
  filter: blur(3px);
}

.wrapper {
  width: 100%;
  height: 100%;
}

.feature-button {
  width: 50px;
  height: 50px;
  padding: 0;

  &.reset-viewport {
    position: absolute;
    right: 0;
  }

  > ion-button {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

ion-thumbnail {
  --size: 150px;
}

.task-control {
  position: absolute;
  bottom: 40px;
  left: 10px;
  right: 10px;

  @media screen and (max-width: 568px) {
    margin: 0;
  }

  &.minimized {
    width: 50px;
    height: 50px;
    left: unset;
    padding: 0;
  }

  .task-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .take-photo-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;

    > ion-thumbnail {
      margin-right: 1rem;
    }
  }

  .top-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div > ion-chip > ion-icon {
      margin: 0;
    }

    p {
      // float: right;
      font-weight: bold;
    }

    ion-button {
      width: 50px;
      height: 50px;
      margin: 0;

      > ion-icon {
        margin: 0;
      }
    }
  }

  &.full {
    height: calc(100% - 44px - 40px - 10px);
    z-index: 2;
  }
}

.ok-container {
  display: flex;
  place-content: flex-end;
  > ion-button {
    float: right;
  }
}

.accuracy {
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 50%;
  font-size: x-small;
  transform: translateX(-50%);
}

.overlay {
  // transition: all 0.3s ease-in;
  background: var(--ion-item-background);
  // background: white;
  // border-radius: 4px;
  // box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12);

  .task-text {
    flex-grow: 1;
    font-size: 20px;
    text-align: center;

    @media screen and (max-width: 767px) {
      p {
        margin: 0;
      }
      max-height: 33vh;
      overflow: scroll;
      font-size: inherit;
    }

    ::ng-deep ion-icon {
      margin: 0;
    }
  }

  &.success {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    padding: 1rem;
    margin: 0;
  }

  &.player-name {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    padding: 1rem;
    margin: 0;

    @media (max-width: 576px) {
      width: 90%;
    }
  }

  &.correct-position {
    position: absolute;
    top: 50px;
    left: 50%;
    margin-right: -50%;
    transform: translateX(-50%);
    z-index: 10;
    text-align: center;
    padding: 1rem;
    margin: 0;
  }

  &.feedback {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    padding: 1rem;
    margin: 0;
    // background-color: lightcoral;
    // color: white;

    .feedback-icon {
      font-size: 65px;
    }
  }

  .multiple-choice {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;

    > ion-thumbnail {
      margin-bottom: 0.5rem;

      > img {
        border-radius: 1rem;
      }

      @media screen and (max-width: 575px) {
        --size: 75px !important;
        flex: 0 50%;
        text-align: center;

        > img {
          width: auto;
          border: 0;
          border-radius: 0.5rem;
          margin: auto;
        }
      }

      > .multiple-choize-img.selected {
        outline: solid #0cd1e8 2px;
        outline-offset: 1px;
      }
    }
  }

  .multiple-choice-text {
    display: flex;
    width: 100%;
    justify-content: space-between;

    div {
      cursor: pointer;
      width: 100%;
      background: #efefef73;
      border-radius: 1rem;
      text-align: center;
      margin-left: 1rem;
      margin-right: 1rem;
      font-weight: bold;
      font-size: larger;
      border: solid 2px lightgrey;
      box-sizing: border-box;

      > p {
        pointer-events: none;
      }

      &.selected {
        border: solid 2px var(--ion-color-secondary);
      }
    }
  }

  .number-input {
    width: 100%;
    text-align: center;

    ion-input {
      width: 5rem;
      margin: auto;
      font-weight: bold;
      font-size: larger;
    }
  }

  .text-input {
    width: 100%;
    text-align: center;

    ion-textarea {
      font-weight: bold;
      font-size: larger;
    }
  }

  .compass {
    text-align: center;
    font-size: 18px;
    flex: 0 0 100%;
    position: relative;
    width: 100%;

    &.bearing {
      min-height: 150px;

      > img {
        position: absolute;
        transform: translateX(-50%);
      }
    }

    // &.large {
    // margin-top: 50%;
    // }

    > img {
      height: 100%;
      width: fit-content;
      display: initial;

      @media screen and (max-width: 568px) {
        max-height: 100px;
      }
    }
  }

  .photo-container {
    display: inline;
    max-height: 200px;
    max-width: 100%;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;

    > img {
      max-height: 200px;

      @media screen and (max-width: 568px) {
        max-height: 150px;
      }

      border-radius: 1rem;
      width: auto;
    }

    > video {
      max-height: 200px;
      height: 100%;
      width: auto;
    }
  }
}

ion-label.player-counter {
  border: 2px solid var(--ion-color-primary-shade);
  pointer-events: none;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
}
