.map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.blur {
  filter: blur(3px);
}

.wrapper {
  width: 100%;
  height: 100%;
}

.task-control {
  position: absolute;
  bottom: 40px;
  left: 10px;
  right: 10px;
  display: flex;
  // flex-wrap: wrap;
  align-items: center;

  &.full {
    height: calc(100% - 44px - 5px);
    z-index: 2;
  }
}

.overlay {
  // animation-duration: 300ms;
  background: var(--ion-item-background);
  // background: white;
  // border-radius: 4px;
  // box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12);
  
  .task-text {
    flex-grow: 1;
  }

  &.success {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    padding: 1rem;
    margin: 0;
  }

  .compass {
    text-align: center;
    flex: 0 0 100%;
  }
}

  