.map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.blur {
  filter: blur(3px);
}

.wrapper {
  width: 100%;
  height: 100%;
}

.feature-button {
  width: 50px;
  height: 50px;
  padding: 0;

  > ion-button {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

ion-thumbnail {
  --size: 150px !important;
}

.task-control {
  position: absolute;
  bottom: 40px;
  left: 10px;
  right: 10px;
  

  &.minimized {
    width: 50px;
    height: 50px;
    left: unset;
    padding: 0;
  }

  .task-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }

  .top-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div > ion-chip > ion-icon {
      margin: 0;
    }

    p {
      // float: right;
      font-weight: bold;
    }

    ion-button {
      width: 50px;
      height: 50px;
      margin: 0;

      > ion-icon {
        margin: 0;
      }
    }
    
  }

  &.full {
    height: calc(100% - 44px - 40px - 10px);
    z-index: 2;
  }
}

.ok-container {
  > ion-button {
    float: right
  }
}

.accuracy {
  position: absolute;
  bottom: 0;
  margin: 0;
  left: 50%;
  font-size: x-small;
  transform: translateX(-50%);
}

.overlay {
  // transition: all 0.3s ease-in;
  background: var(--ion-item-background);
  // background: white;
  // border-radius: 4px;
  // box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12);

  .task-text {
    flex-grow: 1;
    font-size: 20px;
    text-align: center;

    ion-icon {
      margin: 0;
    }
  }

  &.success {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    padding: 1rem;
    margin: 0;
  }

  &.feedback {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    padding: 1rem;
    margin: 0;
    // background-color: lightcoral;
    // color: white;

    .feedback-icon {
      font-size: 65px;
    }
  }

  .selected {
    outline: solid #0cd1e8 2px;
    outline-offset: 1px;
  }

  .multiple-choice {
    display: flex;
    width: 100%;
    justify-content: space-between;

    > div > ion-thumbnail {
      --size: 65px;

      &:active {
        outline: solid #0cd1e8 2px;
        outline-offset: 1px;
      }
    }
  }

  .compass {
    text-align: center;
    font-size: 18px;
    flex: 0 0 100%;
    position: relative;

    &.bearing {
      min-height: 150px;

      > img {
        position: absolute;
        transform: translateX(-50%);
      }
    }

    &.large {
      margin-top: 50%;
    }

    > img {
      height: 100%;
      width: fit-content;
      display: initial;
    }
  }

  .photo-container {
    display: inline;
    max-height: 200px;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;

    > img {
      max-height: 200px;
      width: auto;
    }
  }
}
