<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color=dark defaultHref="start"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "GameList.titleGameMenu" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="create_card_create" (click)=navigateCreateRealGamePage() color="secondary">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="globe"></ion-icon> {{ "GameList.realWorld" | translate }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ "CreateGame.realWorldDescription" | translate }}
    </ion-card-content>
  </ion-card>

  <ion-card id="create_card_create" (click)=navigateCreateVirtualGamePage() color="secondary">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="tv"></ion-icon> {{ "GameList.virtualWorld" | translate }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ "CreateGame.virtualWorldDescription" | translate }}
    </ion-card-content>
  </ion-card>

</ion-content>