<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        color="dark"
        (click)="navigateBackToStart()"
        text="{{ 'General.back_button' | translate }}"
      ></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "PlayGame.titlePlayGameList" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- select game env. and mode -->
  <div class="select-style" *ngIf="isListTabSelected">
    <div>
      <ion-label>
        <span class="cat-title-style">Game environment </span>
        <ion-icon
          name="information-circle"
          (click)="utilService.showPopover($event, 'Choose between playing GeoGami outside (real world) or indoor (virtual environment)')"
        >
        </ion-icon>
      </ion-label>
      <select
        interface="popover"
        [(ngModel)]="gameEnvSelected"
        (change)="filterGamesEnv($event.target.value)"
      >
        <option value="real">Real world</option>
        <option value="virtual">Virtual env.</option>
      </select>
    </div>
    <div>
      <ion-label>
        <span class="cat-title-style">Game mode </span>
        <ion-icon
          name="information-circle"
          (click)="utilService.showPopover($event, 'Choose between playing GeoGami indivisually or with a group. Minium number of players of a mutliplayer mode is 2')"
        >
        </ion-icon>
      </ion-label>
      <select
        interface="popover"
        [(ngModel)]="gameModeSelected"
        (change)="filterGamesMode($event.target.value)"
      >
        <option value="single">Single player</option>
        <option
          value="multi-player"
          [disabled]="!['admin', 'contentAdmin', 'scholar'].includes(userRole)"
        >
          Multiplayer {{ !['admin', 'contentAdmin',
          'scholar'].includes(userRole)? "( only scholars have access )" : ''}}
        </option>
      </select>
    </div>
  </div>
  <!--  -->

  <!-- segments -->
  <h5 class="segment">
    {{ (isListTabSelected ? "GameList.chooseGameList" :
    "GameList.chooseGameMap") | translate }}
  </h5>

  <ng-container *ngIf="isListTabSelected">
    <!-- segment start -->
    <div class="segment">
      <ion-segment
        (ionChange)="segmentChanged($event.detail.value)"
        [(ngModel)]="selectedSegment"
        color="dark"
      >
        <ion-segment-button value="{{ ( user ? 'all' : 'curated') }}">
          <ion-label
            >{{ (user ? "PlayGame.allGames" : "PlayGame.curated") | translate
            }}</ion-label
          >
        </ion-segment-button>

        <ion-segment-button value="{{ (user ? 'curated' : 'all') }}">
          <ion-label
            >{{ (user ? "PlayGame.curated" : "PlayGame.allGames") | translate
            }}</ion-label
          >
        </ion-segment-button>

        <!-- <ion-segment-button value="mine" *ngIf="userRole != 'unloggedUser'"> -->
        <ion-segment-button value="mine" *ngIf="user">
          <ion-label>{{ "PlayGame.myGames" | translate }}</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>
    <!-- segment end -->

    <!-- searchbar -->
    <ion-searchbar
      (ionChange)="filterList($event)"
      [(ngModel)]="searchText"
    ></ion-searchbar>

    <!-- refresher -->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!-- list of games -->
    <div *ngFor="let game of games_view" style="display: flex">
      <ion-card
        (click)="gameClick(game)"
        detail
        color="secondary"
        style="width: 100%; margin-right: 0"
      >
        <ion-card-header>
          <ion-item lines="none" color="secondary">
            <ion-label>
              <h2>
                <ion-icon name="game-controller"></ion-icon
                ><span *ngIf="game.place"
                  ><b>&nbsp;&nbsp;{{ game.place }}</b> -
                </span>
                {{ game.name }}
              </h2>
            </ion-label>
            <ion-label
              slot="end"
              *ngIf="(game.isMultiplayerGame && game.isMultiplayerGame == true) || game.tasksCount"
              class="numplayersCard"
            >
              {{ (game.isMultiplayerGame && game.isMultiplayerGame)?
              game.numPlayers + " " + ("GameList.players" | translate) + " | ":
              ""}} {{ (game.tasksCount)? game.tasksCount + " " + (
              (game.tasksCount >1 ?"GameList.tasks":"GameList.task") |
              translate) : ""}}
            </ion-label>
            <!-- <ion-icon *ngIf="['admin', 'contentAdmin'].includes(userRole)" name="star" [color]="game.isCuratedGame? 'warning' : ''"></ion-icon> -->
          </ion-item>
        </ion-card-header>
      </ion-card>
      <ion-buttons *ngIf="this.userId == game.user" class="game-actions">
        <ion-button
          title="{{'General.edit'| translate}}"
          (click)="EditGame(game._id)"
        >
          <ion-icon name="create-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </ng-container>

  <!-- show this message only when my games section is selected and there're no games were created by logged user -->
  <div
    class="emptygamecontent"
    *ngIf="selectedSegment =='mine' && (games_view && games_view.length == 0)"
  >
    <h1>{{ "PlayGame.emptyGamesList" | translate }}</h1>
  </div>

  <div
    class="emptygamecontent"
    *ngIf="['curated', 'all'].includes(selectedSegment) && ( games_view && games_view.length == 0)"
  >
    <h1>Empty list!</h1>
  </div>

  <div
    #gamesMap
    class="map"
    [ngStyle]="{ 'display' : ( isListTabSelected ? 'none' : '' ) }"
  ></div>
  <!-- map markers popup -->
  <div #popupContainer *ngIf="!isListTabSelected">
    <app-popup
      *ngIf="popup"
      [gameID]="game_id"
      [gameName]="game_name"
      [gamePlace]="game_place"
      [NumTasks]="game_numTasks"
    >
    </app-popup>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button
          (click)="openListTap()"
          class="{{isListTabSelected?'selectedTab': ''}}"
        >
          <ion-icon name="list"></ion-icon>
          <ion-label>List</ion-label>
          <!-- <ion-badge>6</ion-badge> -->
        </ion-tab-button>

        <ion-tab-button
          (click)="openMapTap()"
          class="{{!isListTabSelected?'selectedTab': ''}}"
          [disabled]="gameEnvSelected == 'virtual'"
        >
          <ion-icon name="map"></ion-icon>
          <ion-label>Map</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>
