ion-refresher {
  z-index: 10;
}

.no-scroll {
  --overflow: hidden;
}

.segment {
  margin-left: 0.5%;
  margin-right: 0.5%;
  // border: solid 3px;
}

// To capitalize only first letter
ion-segment-button {
  text-transform: none;
}

ion-card-header {
  padding: 0.4rem;
}

ion-tab-bar {
  height: 100%;
}


.map {
  height: 100%;
  //border-radius: 1rem;
}

.emptygamecontent {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  >h1{
    text-align: center;
  }
}

.selectedTab {
  color: var(--ion-color-primary);
  // border-radius: 16px;
}


/* mutli-player mode */
.numplayersCard {
  padding: 1%;
  color: white;
  border: solid 1.5px;
  border-color: white;
  background-color: transparent;
  border-radius: 5px;
  margin: 0px;
}

// select game env. and mode
.select-style {
  margin-right: 0.5%;
  margin-left: 0.5%;

  >div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    >ion-label {
      font-size: 18px;
      //font-weight: bold;
    }

    >select {
      width: 70%;
      height: fit-content;
    }
  }
}

// less than 630px
@media only screen and (max-width: 630px) {
  .select-style {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    >div {
      //display: flex;
      display: block;

      >select {
        // width: 150px;
        width: 42vw;
        margin-top: 2px;
      }

    }

  }
}
/*  */