<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "User.profile" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <h1>{{ "User.profile" | translate }}</h1>

    <p><b>{{ "General.name" | translate }}: </b>{{user.username}}</p>
    <p><b>{{ "User.mail" | translate }}: </b>{{user.email}}</p>
    <div>
      <b>{{ "User.mailconfirmed" | translate }}: </b>
      <ion-chip *ngIf="user.emailIsConfirmed" color="success">
        <ion-label>{{ "General.yes" | translate }}</ion-label>
      </ion-chip>
      <ion-chip *ngIf="!user.emailIsConfirmed" color="danger">
        <ion-label>{{ "General.no" | translate }}</ion-label>
      </ion-chip>
    </div>
    <p><b>{{ "User.registered" | translate }} </b>{{user.createdAt | date:'d.MM.y'}}</p>
    <div>
      <b>{{ "User.roles" | translate }}: </b>
      <div style="display: inline" *ngFor="let role of user.roles">
        <ion-chip *ngIf="role == 'user'" color="primary">
          <ion-label>User</ion-label>
        </ion-chip>
        <ion-chip *ngIf="role == 'contentAdmin'" color="tertiary">
          <ion-label>Content Admin</ion-label>
        </ion-chip>
        <ion-chip *ngIf="role == 'trackAccess'" color="success">
          <ion-label>Track Access</ion-label>
        </ion-chip>
        <ion-chip *ngIf="role == 'admin'" color="dark">
          <ion-label>Admin</ion-label>
        </ion-chip>
      </div>
    </div>
    <!-- <form (ngSubmit)="updateUser()" [formGroup]="loginForm"> -->
    <!-- <ion-input
        placeholder="E-Mail"
        [id]="'email'"
        formControlName="email"
      ></ion-input>
      <br />
      <ion-input
        placeholder="{{ 'User.pl_username' | translate }}"
        [id]="'username'"
        formControlName="username"
      ></ion-input>
      <br />
      <ion-button expand="block" type="submit" [disabled]="loginForm.invalid"
        >Speichern</ion-button
      >
      <br /> -->
    <br />
    <ion-button expand="block" fill="outline" (click)="logout()"
      >Logout</ion-button
    >
    <!-- </form> -->
  </div>
</ion-content>
