<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Informationen über OriGami</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>Text Text Text Text ...</p>
  <h2 class="ion-text-center">Made with <span (click)="onDarkThemeChange()"><span *ngIf="dark">❤️</span><span
        *ngIf="!dark">🖤</span></span> by re:edu</h2>
  <h5>Animationen</h5>
  <p>
    ⭐️ Star Success by Taras Chernenko / LottieFiles
    <br />
    👨‍🚀 Astronaut by PARIsa / LottieFiles
  </p>

</ion-content>