<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color=dark defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Informationen über OriGami</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <h5>Über OriGami</h5>
    <p><b>OriGami</b> ist eine App, zum Erstellen und Spielen von kartenbasierten Games
    und eignet sich insbesondere für den Einsatz an Bildungseinrichtungen. Die Entwicklung der App wird vom 
    <b>Insitut für Geoinformatik</b> der Westfälischen Wilhelms-Universität Münster wissenschaftlich begleitet
    und didaktisch konzeptioniert.</p>
    <p>Der Schwerpunkt von <b>OriGami</b> liegt auf der Förderung von Kompetenzen im Navigieren mit Karte,
    d.h. in der Kompetenz des Selbstlokalisierens, des Lokalisieren von Objekten auf der Karte und  
    der Interpretation der Kartenausrichtung. Der Ersteller eines Spiels kann zwischen entsprechenden Aufgabentypen wählen und seine Spieler
    durch das An- und Ausstellen von Kartenfeatures (wie z.B. der Positionsanzeige, der Markierung vom Objekten in der
    Umgebung usw.) unterstützen. Desweiteren lassen sich mit <b>OriGami</b> auch thematische Spiele, Ralleys und digitale Exkursionen anlegen.</p>

  <p>Mehr Informationen findest du auf <a href="origami.ifgi.de">unserer Webseite</a>!<br><br></p>

  <h2 class="ion-text-center">Made with <span (click)="onDarkThemeChange()"><span *ngIf="dark">❤️</span><span
        *ngIf="!dark">🖤</span></span> by re:edu</h2>

  <h5><br><br>Animationen</h5>
  <p>
    ⭐️ Star Success by Taras Chernenko / LottieFiles
    <br />
    👨‍🚀 Astronaut by PARIsa / LottieFiles
  </p>

  <h5><br><br>Icons</h5>
  <p>
    Flag obtained from <a href="https://fontawesome.com/license">FontAwesome Pro License (CC BY 4.0)</a> with modifications in shape, color, and outline
  </p>

  <h5><br><br>Sounds</h5>
  <p>
    Sound effects obtained from <a href="https://www.zapsplat.com">https://www.zapsplat.com</a>
  </p>

</ion-content>