<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="/" text="{{ 'General.back_button' | translate }}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "User.resetpw" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <ion-card color="danger" *ngIf="error">
      <ion-card-content> {{error}} </ion-card-content>
    </ion-card>

    <form (ngSubmit)="resetPassword()" [formGroup]="loginForm">
      <ion-text>A verification code has been sent to <b>{{ userEmail }}</b>. Please enter the code below along with your
        new password.
      </ion-text>

      <ion-item lines="none" class="ion-no-padding">
        <ion-input #Field1 [(ngModel)]="codeInput[0]" (keyup)="gotoNextField(Field2)" maxlength="1" required
          [id]="'Input1'" formControlName="Input1" clear-on-edit="true"></ion-input>
        <ion-input #Field2 [(ngModel)]="codeInput[1]" (keyup)="gotoNextField(Field3)" maxlength="1" required
          [id]="'Input2'" formControlName="Input2" clear-on-edit="true"></ion-input>
        <ion-input #Field3 [(ngModel)]="codeInput[2]" (keyup)="gotoNextField(Field4)" maxlength="1" required
          [id]="'Input3'" formControlName="Input3" clear-on-edit="true"></ion-input>
        <ion-input #Field4 [(ngModel)]="codeInput[3]" (keyup)="gotoNextField(Field5)" maxlength="1" required
          [id]="'Input4'" formControlName="Input4" clear-on-edit="true"></ion-input>
        <ion-input #Field5 [(ngModel)]="codeInput[4]" (keyup)="gotoNextField(Field6)" maxlength="1" required
          [id]="'Input5'" formControlName="Input5" clear-on-edit="true"></ion-input>
      </ion-item>

      <ion-input #Field6 type="password" placeholder="{{ 'User.pl_newPassword' | translate }}" [id]="'password'"
        formControlName="password"></ion-input>
      <br />
      <ion-button expand="block" type="submit" [disabled]="loginForm.invalid">{{ "User.resetpw" | translate }}
      </ion-button>
    </form>

  </div>
</ion-content>