ion-content {
  > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > form {
      width: 100%;
      max-width: 500px;
      margin-top: 4%;
    }
  }
}

ion-input {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

/* //-- ToDo: update margin right of ion-item */
ion-item{
  margin-top: 10%;
  margin-bottom: 7%;

  > ion-input {
      border: solid 1px;
      border-radius: 1px;
      min-width: 17.5%;
      padding: 0rem !important;
      margin-right: 3%;
      font-size: xx-large;
      text-align: center;
  }
}