.list-title {
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 1rem;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

// for phone (hide id column)
@media only screen and (max-width: 480px) {
  .hide-id-mobile {
    display: none;
  }
}

.actionBtn {
  gap: 1.6%;
  > ion-button {
    border: 1px solid;
    border-radius: 8px;
    border-color: gray;
  }
}
