<ion-content fullscreen>
  <img src="assets/icons/icon-192x192.png" class="center" />
  <ion-card id="start_card_play" (click)=navigateGamesOverviewPage()>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="game-controller"></ion-icon> Spielen
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Wähle ein Spiel aus der Spieleliste.
    </ion-card-content>
  </ion-card>

  <ion-card id="start_card_create" (click)=navigateCreatePage()>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="construct"></ion-icon> Entwickeln
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Erstelle oder bearbeite ein Spiel.
    </ion-card-content>
  </ion-card>

  <ion-card id="start_card_analyze" (click)=handleCardClick($event)>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="ribbon"></ion-icon> Auswerten
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Sieh dir die Spielergebnisse an.
    </ion-card-content>
  </ion-card>

  <ion-card id="start_showroom" (click)=navigateShowroomPage()>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="bulb"></ion-icon> Lernen
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Erfahre mehr über die Funktionen.
    </ion-card-content>
  </ion-card>

  <ion-card id="start_info" (click)=navigateInfoPage()>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="information-circle"></ion-icon> ...über <b>OriGami</b>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Erfahre mehr über die App.
    </ion-card-content>
  </ion-card>

  <!-- <ion-footer translucent>
    <ion-row>
      <ion-col>
        <h1 class="ion-text-center" data-value="de" (click)=setLanguage($event)>🇩🇪</h1>
      </ion-col>
      <ion-col>
        <h1 class="ion-text-center" data-value="en" (click)=setLanguage($event)>🇬🇧</h1>
      </ion-col>
    </ion-row>
  </ion-footer> -->
</ion-content>