<ion-content fullscreen>
  <img src="assets/icons/icon-192x192.png" class="center" />
  <h1 class="ion-text-center ion-padding">OriGami Paper Map</h1>
  <ion-card id="start_card_play" (click)=navigateGamesOverviewPage($event)>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="logo-game-controller-a"></ion-icon> {{ playerMode }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ playerModeDescription }}
    </ion-card-content>
  </ion-card>

  <ion-card id="start_card_create" (click)=navigateCreatePage()>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="construct"></ion-icon> {{ developerMode }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ developerModeDescription }}
    </ion-card-content>
  </ion-card>

  <ion-card id="start_card_analyze" (click)=handleCardClick($event)>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="search"></ion-icon> {{ evaluateMode }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ evaluateModeDescription }}
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
      <h1 class="ion-text-center" data-value="de" (click)=setLanguage($event)>🇩🇪</h1>
    </ion-col>
    <ion-col>
      <h1 class="ion-text-center" data-value="en" (click)=setLanguage($event)>🇬🇧</h1>
    </ion-col>
  </ion-row>

</ion-footer>