<div class="grid">
  <div class="answer correct">
    <ion-textarea autoGrow [(ngModel)]="answers[0]" (ngModelChange)="onChange()" placeholder="Text"></ion-textarea>
  </div>
  <div class="answer wrong">
    <ion-textarea autoGrow [(ngModel)]="answers[1]" (ngModelChange)="onChange()" placeholder="Text"></ion-textarea>
  </div>
  <div class="answer wrong">
    <ion-textarea autoGrow [(ngModel)]="answers[2]" (ngModelChange)="onChange()" placeholder="Text"></ion-textarea>
  </div>
  <div class="answer wrong">
    <ion-textarea autoGrow [(ngModel)]="answers[3]" (ngModelChange)="onChange()" placeholder="Text"></ion-textarea>
  </div>
</div>