<div class="grid">
  <div>
    <div class="answer correct">
      <ion-textarea
        autoGrow
        [(ngModel)]="answers[0]"
        (ngModelChange)="onChange()"
      ></ion-textarea>
    </div>
    <ion-textarea
      *ngIf="feedback"
      autoGrow
      [(ngModel)]="hints[0]"
      (ngModelChange)="onChange()"
    ></ion-textarea>
  </div>
  <div>
    <div class="answer wrong">
      <ion-textarea
        autoGrow
        [(ngModel)]="answers[1]"
        (ngModelChange)="onChange()"
      ></ion-textarea>
    </div>
    <ion-textarea
      *ngIf="feedback"
      autoGrow
      [(ngModel)]="hints[1]"
      (ngModelChange)="onChange()"
    ></ion-textarea>
  </div>
  <div>
    <div class="answer wrong">
      <ion-textarea
        autoGrow
        [(ngModel)]="answers[2]"
        (ngModelChange)="onChange()"
      ></ion-textarea>
    </div>
    <ion-textarea
      *ngIf="feedback"
      autoGrow
      [(ngModel)]="hints[2]"
      (ngModelChange)="onChange()"
    ></ion-textarea>
  </div>
  <div>
    <div class="answer wrong">
      <ion-textarea
        autoGrow
        [(ngModel)]="answers[3]"
        (ngModelChange)="onChange()"
      ></ion-textarea>
    </div>
    <ion-textarea
      *ngIf="feedback"
      autoGrow
      [(ngModel)]="hints[3]"
      (ngModelChange)="onChange()"
    ></ion-textarea>
  </div>
</div>
