<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="dismissModal('close')">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="type == 'nav'">
      <ion-icon name="navigate" color="primary"></ion-icon> {{
      "Tasktypes.navigationTasks" | translate }}
      <!-- Show task No -->
      <span *ngIf="taskNo"> ({{ ("General.task" | translate) + " " + taskNo}}) </span>
    </ion-title>
    <ion-title *ngIf="type == 'theme'">
      <ion-icon name="clipboard" color="secondary"></ion-icon> {{
      "Tasktypes.thematicTasks" | translate }}
      <!-- Show task No -->
      <span *ngIf="taskNo"> ({{ ("General.task" | translate) + " " + taskNo}}) </span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="dismissModal(null)">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- (Vir. Env.): enable teacher to choose a vir. env. -->
  <ion-item *ngIf="isVirtualWorld" class="ion-no-padding">
    <h5>Choose a virtual world</h5>
    &nbsp;&nbsp;

    <!-- TODO: remove disable after resolving reloading vir. env. using tablet -->
    <select
      [(ngModel)]="virEnvType"
      (ngModelChange)="onEnvChanged()"
      interface="popover"
      [disabled]="!isSingleMode"
    >
      <option
        *ngFor="let virEnvitem of virEnvTypesList; let i = index"
        [ngValue]="virEnvitem.layerName"
      >
        {{i+1}}: {{virEnvitem.envName}}
      </option>
    </select>
  </ion-item>
  <!--  -->

  <ion-card color="primary" *ngIf="task.category == 'nav'">
    <ion-card-content>
      <ion-icon name="help-circle"></ion-icon>
      {{ "Tasktypes.navigationtasksDescription" | translate }}
    </ion-card-content>
  </ion-card>

  <ion-card color="secondary" *ngIf="task.category == 'theme'">
    <ion-card-content>
      <ion-icon name="help-circle"></ion-icon>
      {{ "Tasktypes.thematictasksDescription" | translate }}
    </ion-card-content>
  </ion-card>

  <!-- Task type - navigation -->
  <!-- (dodo) task -> selectedNavTaskType  -->
  <ion-text>
    <h5>{{ "General.tasktype" | translate }}</h5>
  </ion-text>
  <select
    interface="popover"
    *ngIf="type == 'nav'"
    placeholder="Auswählen"
    [compareWith]="selectCompare"
    [(ngModel)]="task"
    (ngModelChange)="onTaskSelected($event)"
  >
    <option [ngValue]="myTask" *ngFor="let myTask of tasks">
      {{ myTask.name | translate }}
    </option>
  </select>

  <!-- Task type - themeatic -->
  <!-- (dodo) selectedTaskType -> selectedThemeType  -->
  <select
    interface="popover"
    *ngIf="type != 'nav'"
    [compareWith]="selectCompare"
    [(ngModel)]="selectedThemeTaskType"
    (ngModelChange)="onThemeTaskTypeChange($event)"
  >
    <option [ngValue]="tt" *ngFor="let tt of taskTypes">{{ tt.text }}</option>
  </select>
  <!-- End of task type -->

  <!-- Show Information about selected type -->
  <ion-card color="medium">
    <ion-card-content>
      <ion-icon name="help-circle"></ion-icon>
      <ion-text *ngIf="task.type == 'nav-flag'">
        {{ "Tasktypes.navtoflagDescription" | translate }}
      </ion-text>
      <ion-text *ngIf="task.type == 'nav-arrow'">
        {{ "Tasktypes.navwitharrowDescription" | translate }}
      </ion-text>
      <ion-text *ngIf="task.type == 'nav-text'">
        {{ "Tasktypes.navviatextDescription" | translate }}
      </ion-text>
      <ion-text *ngIf="task.type == 'nav-photo'">
        {{ "Tasktypes.navviaphotoDescription" | translate }}
      </ion-text>
      <ion-text *ngIf="task.type == 'theme-loc'">
        {{ "Tasktypes.selflocDescription" | translate }}
      </ion-text>
      <ion-text *ngIf="task.type == 'theme-object'">
        {{ "Tasktypes.objectlocDescription" | translate }}
      </ion-text>
      <ion-text *ngIf="task.type == 'theme-direction'">
        {{ "Tasktypes.directiondetermDescription" | translate }}
      </ion-text>
      <ion-text *ngIf="task.type == 'free'">
        {{ "Tasktypes.freetasksDescription" | translate }}
      </ion-text>
    </ion-card-content>
  </ion-card>

  <!-- More options of thematic types-->
  <div *ngIf="task.type == 'theme-object' || task.type == 'theme-direction'">
    <div>
      <ion-text>
        <h5 *ngIf="task.type == 'theme-object'">
          {{ "CreateGame.object" | translate }}
        </h5>
        <h5 *ngIf="task.type == 'theme-direction'">
          {{ "CreateGame.direction" | translate }}
        </h5>
      </ion-text>
      <!-- Single-player -->
      <ng-container *ngIf="isSingleMode">
        <select
          [(ngModel)]="task.question.type"
          (ngModelChange)="onObjectQuestionSelectChange($event)"
          interface="popover"
        >
          <option
            [ngValue]="option.type"
            *ngFor="let option of objectQuestionSelect"
          >
            {{ option.text | typeToText: task.type : false | translate }}
          </option>
        </select>
      </ng-container>

      <!-- Multi-player -->
      <ng-container *ngIf="!isSingleMode">
        <select
          [(ngModel)]="task.question[0].type"
          (ngModelChange)="onObjectQuestionSelectChange($event)"
          interface="popover"
        >
          <option
            [ngValue]="option.type"
            *ngFor="let option of objectQuestionSelect"
          >
            {{ option.text | typeToText: task.type : false | translate }}
          </option>
        </select>
      </ng-container>
    </div>
    <div>
      <ion-text>
        <h5>{{ "CreateGame.playerAnswers" | translate }}</h5>
      </ion-text>

      <!-- Single-player -->
      <ng-container *ngIf="isSingleMode">
        <select
          interface="popover"
          [(ngModel)]=" task.answer.type"
          (ngModelChange)="onObjectAnswerSelectChange($event)"
        >
          <option
            [ngValue]="option.type"
            *ngFor="let option of objectAnswerSelect"
          >
            {{ option.text | typeToText: task.type : true | translate }}
          </option>
        </select>
      </ng-container>

      <!-- Multi-player -->
      <ng-container *ngIf="!isSingleMode">
        <select
          interface="popover"
          [(ngModel)]="task.answer[0].type"
          (ngModelChange)="onObjectAnswerSelectChange($event)"
        >
          <option
            [ngValue]="option.type"
            *ngFor="let option of objectAnswerSelect"
          >
            {{ option.text | typeToText: task.type : true | translate }}
          </option>
        </select>
      </ng-container>
    </div>
  </div>

  <!-- Thematic tasks - Free tasks - The player answers & Question type -->
  <div *ngIf="task.type == 'free'">
    <!-- Thematic tasks - Question type -->
    <div>
      <ion-text>
        <h5>{{ "CreateGame.questiontype" | translate }}</h5>
      </ion-text>
      <!-- Single-player -->
      <ng-container *ngIf="isSingleMode">
        <select
          [(ngModel)]="task.question.type"
          (ngModelChange)="onObjectQuestionSelectChange($event)"
          interface="popover"
        >
          <option
            [ngValue]="option.type"
            *ngFor="let option of objectQuestionSelect"
          >
            {{ option.text | typeToText: task.type : false | translate }}
          </option>
        </select>
      </ng-container>
      <!-- Multi-player -->
      <ng-container *ngIf="!isSingleMode">
        <select
          [(ngModel)]="task.question[0].type"
          (ngModelChange)="onObjectQuestionSelectChange($event)"
          interface="popover"
        >
          <option
            [ngValue]="option.type"
            *ngFor="let option of objectQuestionSelect"
          >
            {{ option.text | typeToText: task.type : false | translate }}
          </option>
        </select>
      </ng-container>
    </div>

    <!-- Thematic tasks - The player answers -->
    <div>
      <ion-text>
        <h5>{{ "CreateGame.playerAnswers" | translate }}</h5>
      </ion-text>
      <!-- Single-player -->
      <ng-container *ngIf="isSingleMode">
        <select
          interface="popover"
          [(ngModel)]="task.answer.type"
          (ngModelChange)="onObjectAnswerSelectChange($event)"
        >
          <option
            [ngValue]="option.type"
            *ngFor="let option of objectAnswerSelect"
          >
            {{ option.text | typeToText: task.type : true | translate}}
          </option>
        </select>
      </ng-container>

      <!-- Mutli-player -->
      <ng-container *ngIf="!isSingleMode">
        <select
          interface="popover"
          [(ngModel)]="task.answer[0].type"
          (ngModelChange)="onObjectAnswerSelectChange($event)"
        >
          <option
            [ngValue]="option.type"
            *ngFor="let option of objectAnswerSelect"
          >
            {{ option.text | typeToText: task.type : true | translate}}
          </option>
        </select>
      </ng-container>
    </div>
  </div>
  <!-- End of more options of thematic types-->

  <!-- >>>>>***** -->
  <!-- Collaboration method - multiplayer - nav -->
  <div *ngIf="!isSingleMode">
    <ion-text>
      <h5>Collaboration method</h5>
    </ion-text>
    <select
      interface="popover"
      placeholder="Auswählen"
      [compareWith]="selectCompare"
      [(ngModel)]="selectedCollType"
    >
      <option [ngValue]="collType" *ngFor="let collType of collaborationTypes">
        {{collType.text}}
      </option>
    </select>
  </div>
  <!-- <<<<<***** -->

  <!-- Task instruction -->
  <div>
    <!-- Task instruction, markdown support, audio message ... -->
    <question-type
      [(question)]="task.question"
      [taskType]="task.category"
      [isVirtualWorld]="isVirtualWorld"
      [isVRMirrored]="isVRMirrored"
      [virEnvType]="virEnvType"
      [isVEBuilding]="isVEBuilding"
      [selectedFloor]="selectedFloor"
      [(initialFloor)]="initialFloor"
      [numPlayers]="(!isSingleMode?numPlayers:1)"
      [isSingleMode]="isSingleMode"
      [collaborationType]=" isSingleMode? undefined :selectedCollType.type"
    >
    </question-type>

    <!-- Search Area -->
    <div *ngIf="task.type == 'theme-loc' || task.type == 'theme-object'">
      <ion-text>
        <h5>
          {{ "CreateGame.searchArea" | translate }}
          <ion-label>
            <ion-icon
              name="information-circle"
              (click)="showPopover($event, 'Popover.searchArea')"
            >
            </ion-icon>
          </ion-label>
        </h5>
      </ion-text>
      <app-map
        featureType="geometry"
        drawTheme="searchArea"
        [(feature)]="task.question.area"
        [isVirtualWorld]="isVirtualWorld"
        [isVRMirrored]="isVRMirrored"
        [virEnvType]="virEnvType"
      ></app-map>
      
      <ion-item-divider id="search-area-divider"></ion-item-divider>
    </div>

    <!-- Set location by tapping on the map -->
    <div
      *ngIf="task.type == 'theme-direction' && task.question.type == 'TEXT' && task.answer.type == 'MAP_DIRECTION'"
    >
      <ion-item lines="none">
        <ion-label>
          {{ "CreateGame.setLocation" | translate }}
          <ion-icon
            name="information-circle"
            (click)="showPopover($event, 'Popover.markLocation')"
          >
          </ion-icon>
        </ion-label>
        <ion-toggle color="secondary" [(ngModel)]="viewDirectionSetPosition">
        </ion-toggle>
      </ion-item>
      <app-map
        featureType="point"
        markerType="circle"
        [(feature)]="task.question.direction.position"
        *ngIf="viewDirectionSetPosition"
        [isVirtualWorld]="isVirtualWorld"
        [isVRMirrored]="isVRMirrored"
        [virEnvType]="virEnvType"
        [isVEBuilding]="isVEBuilding"
        [selectedFloor]="selectedFloor"
      >
      </app-map>

      <ion-item-divider id="set-location-tapping-divider"></ion-item-divider>
    </div>

    <!-- Destination -->
    <answer-type
      [(answer)]="task.answer"
      [taskType]="task.category"
      [settings]="task.settings"
      [isVirtualWorld]="isVirtualWorld"
      [isVRMirrored]="isVRMirrored"
      [virEnvType]="virEnvType"
      [isVEBuilding]="isVEBuilding"
      [(selectedFloor)]="selectedFloor"
      [numPlayers]="(!isSingleMode?numPlayers:1)"
      [isSingleMode]="isSingleMode"
      [collaborationType]=" isSingleMode? undefined :selectedCollType.type"
    >
    </answer-type>
  </div>


  <!-- Vir. Env. settings -->
  <div *ngIf="isVirtualWorld && task.settings">
    <!-- section heading -->
    <ion-text>
      <h5>{{ "CreateGame.virEnvSettings" | translate }}</h5>
    </ion-text>
    
    <!-- Avatar speed -->
    <ion-item lines="none" class="item-range">
      <ion-label>
        {{ "CreateGame.avatarSpeed" | translate }}
        <ion-icon
          name="information-circle"
          (click)="showPopover($event, 'Popover.avatarSpeedZero')"
        >
        </ion-icon>
      </ion-label>
      <ion-range
        [(ngModel)]="task.settings.avatarSpeed"
        min="0"
        max="7"
        snaps
        [color]="task.category == 'nav' ? 'primary' : 'secondary'"
        ticks
        pin
      >
        <ion-label slot="start">1m/s</ion-label>
        <ion-icon
          slot="start"
          size="small"
          [color]="task.category == 'nav' ? 'primary' : 'secondary'"
          name="speedometer-outline"
        >
        </ion-icon>
        <ion-icon
          slot="end"
          [color]="task.category == 'nav' ? 'primary' : 'secondary'"
          name="speedometer-outline"
        ></ion-icon>
        <ion-label slot="end">7m/s</ion-label>
      </ion-range>
    </ion-item>

    <!-- Disable avatar rotation -->
    <ion-item lines="none">
      <ion-label> {{ "CreateGame.disableAvatarRotation" | translate }} </ion-label>
      <ion-toggle [(ngModel)]="task.settings.disableAvatarRotation"></ion-toggle>
    </ion-item>

    <!-- show environment settings -->
    <ion-item lines="none">
      <ion-label> {{ "CreateGame.showEnvSettings" | translate }} </ion-label>
      <ion-toggle [(ngModel)]="task.settings.showEnvSettings"></ion-toggle>
    </ion-item>

    <!-- show path visalisation -->
    <ion-item *ngIf="isVEBuilding" lines="none">
      <ion-label> {{ "CreateGame.showEnvPathVisualization" | translate }} </ion-label>
      <ion-toggle [(ngModel)]="task.settings.showPathVisualization"></ion-toggle>
    </ion-item>

    <ion-item lines="none">
      <ion-label
        >Choose map size
      </ion-label>
      <select interface="popover" [(ngModel)]="task.settings.mapSize">
        <option ngValue="1">
          none
        </option>
        <option ngValue="2">
          small
        </option>
        <option ngValue="3">
          medium
        </option>
        <option ngValue="4">
          big
        </option>
        <option ngValue="5">
          full screen
        </option>
      </select>
    </ion-item>

    <ion-item-divider></ion-item-divider>
  </div>

  <!-- Additional settings -->
  <div *ngIf="task.settings">
    <ion-text>
      <h5>{{ "CreateGame.addSettings" | translate }}</h5>
    </ion-text>
    <ion-item
      lines="none"
      *ngIf="task.type == 'nav-flag' || task.type == 'nav-text'"
    >
      <ion-label>
        {{ "CreateGame.confirmation" | translate }}
        <ion-icon
          name="information-circle"
          (click)="showPopover($event, 'Popover.confirmLocation')"
        >
        </ion-icon>
      </ion-label>
      <ion-toggle
        [(ngModel)]="task.settings.confirmation"
        (ngModelChange)="settingsChange($event)"
      ></ion-toggle>
    </ion-item>

    <ion-item
      lines="none"
      *ngIf="task.type == 'nav-text' || task.type == 'nav-photo'"
    >
      <ion-label>
        {{ "CreateGame.showFlag" | translate }}
        <ion-icon
          name="information-circle"
          (click)="showPopover($event, 'Popover.showFlag')"
        >
        </ion-icon>
      </ion-label>
      <ion-toggle
        [(ngModel)]="task.settings.showMarker"
        (ngModelChange)="settingsChange()"
      ></ion-toggle>
    </ion-item>

    <ion-item lines="none" *ngIf="showFeedback">
      <ion-label>
        {{ "CreateGame.feedback" | translate }}
        <ion-icon
          name="information-circle"
          (click)="showPopover($event, 'Popover.showFeedback')"
        >
        </ion-icon>
      </ion-label>
      <ion-toggle
        [(ngModel)]="task.settings.feedback"
        [color]="task.category == 'nav' ? 'primary' : 'secondary'"
        (ngModelChange)="feedbackChange()"
      ></ion-toggle>
    </ion-item>

    <ion-item lines="none" *ngIf="showMultipleTries">
      <ion-label>
        {{ "CreateGame.severalTrials" | translate }}
        <ion-icon
          name="information-circle"
          (click)="showPopover($event, 'Popover.severalAttempts')"
        >
        </ion-icon>
      </ion-label>
      <ion-toggle
        [(ngModel)]="task.settings.multipleTries"
        [color]="task.category == 'nav' ? 'primary' : 'secondary'"
        [disabled]="!task.settings.feedback"
        (ngModelChange)="settingsChange()"
      >
      </ion-toggle>
    </ion-item>
    <ion-item
      lines="none"
      *ngIf="task.category == 'nav' && task.settings.showMarker && task.type != 'nav-arrow'"
    >
      <ion-label>
        {{ "CreateGame.keepFlag" | translate }}
        <ion-icon
          name="information-circle"
          (click)="showPopover($event, 'Popover.keepFlag')"
        >
        </ion-icon>
      </ion-label>
      <ion-toggle
        [(ngModel)]="task.settings.keepMarker"
        [color]="primary"
      ></ion-toggle>
    </ion-item>
    <ion-item lines="none" *ngIf="task.answer.type === 'DRAW'">
      <ion-label
        >{{ "DrawSetting.keepMappingOption" | translate }}
        <ion-icon
          name="information-circle"
          (click)="showPopover($event, 'Popover.showMappingView')"
        >
        </ion-icon>
      </ion-label>
      <select interface="popover" [(ngModel)]="task.settings.keepDrawing">
        <option ngValue="current">
          {{ "DrawSetting.onlyCurrentTask" | translate }}
        </option>
        <option ngValue="next">
          {{ "DrawSetting.alsoNextTask" | translate }}
        </option>
        <option ngValue="all">
          {{ "DrawSetting.inEntireGame" | translate }}
        </option>
      </select>
    </ion-item>

    <ion-item lines="none" *ngIf="task.answer.type === 'DRAW'">
      <ion-label>{{ "DrawSetting.drawPointOnly" | translate }} </ion-label>
      <ion-toggle
        color="danger"
        [(ngModel)]="task.settings.drawPointOnly"
      ></ion-toggle>
    </ion-item>

    <!-- Accuracy to target -->
    <ion-item
      lines="none"
      *ngIf="task.type != 'theme-object' && task.type != 'theme-direction' && task.type != 'free'"
      class="item-range"
    >
      <ion-label>
        {{ "CreateGame.accuracy" | translate }}
        <ion-icon
          name="information-circle"
          (click)="showPopover($event, 'Popover.accuracy')"
        >
        </ion-icon>
      </ion-label>
      <ion-range
        [(ngModel)]="task.settings.accuracy"
        min="1"
        max="50"
        snaps
        [color]="task.category == 'nav' ? 'primary' : 'secondary'"
        ticks
        pin
      >
        <ion-label slot="start">1m</ion-label>
        <ion-icon
          slot="start"
          size="small"
          [color]="task.category == 'nav' ? 'primary' : 'secondary'"
          name="locate"
        >
        </ion-icon>
        <ion-icon
          slot="end"
          [color]="task.category == 'nav' ? 'primary' : 'secondary'"
          name="locate"
        ></ion-icon>
        <ion-label slot="end">50m</ion-label>
      </ion-range>
    </ion-item>
  </div>
  
  <ion-item
    detail
    lines="none"
    (click)="presentMapFeaturesModal()"
    *ngIf="task.type != 'nav-arrow'"
  >
    <ion-label> {{ "General.mapfeatures" | translate }} </ion-label>
  </ion-item>
</ion-content>
