<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color=dark (click)="dismissModal('close')">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="type == 'nav'">
      <ion-icon name="navigate" color="primary"></ion-icon> Navigationsaufgabe
    </ion-title>
    <ion-title *ngIf="type == 'theme'">
      <ion-icon name="clipboard" color="secondary"></ion-icon> Themenaufgabe
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color=dark (click)="dismissModal(null)">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card color="primary" *ngIf="task.category == 'nav'">
    <ion-card-content>
      <ion-icon name="help-circle"></ion-icon>
      <b> "Navigationsaufgaben"</b> leiten den Spieler an neue Orte.
    </ion-card-content>
  </ion-card>
  <ion-card color="secondary" *ngIf="task.category == 'theme'">
    <ion-card-content>
      <ion-icon name="help-circle"></ion-icon>
      <b> "Themenaufgaben"</b> sind ortsgebundene Aufgaben mit unterschiedlichem thematischem Inhalt.
    </ion-card-content>
  </ion-card>

  <ion-text>
    <h5>Aufgabentyp</h5>
  </ion-text>
  <select *ngIf="type == 'nav'" placeholder="Auswählen" [compareWith]="selectCompare" [(ngModel)]="task"
    (ngModelChange)="onTaskSelected($event)">
    <option [ngValue]="myTask" *ngFor="let myTask of tasks">{{ myTask.name }}</option>
  </select>

  <select *ngIf="type != 'nav'" [compareWith]="taskTypeCompare" [(ngModel)]="selectedTaskType"
    (ngModelChange)="onTaskTypeChange($event)">
    <option [ngValue]="tt" *ngFor="let tt of taskTypes">{{ tt.text }}</option>
  </select>

  <ion-card color="medium">
    <ion-card-content>
      <ion-icon name="help-circle"></ion-icon>
      <ion-text *ngIf="task.type == 'nav-flag'">
        Bei der <b>"Navigation zur Zielfahne"</b> sieht der Spieler eine Fahne auf der Karte, die einen Zielort
        markiert. Seine Aufgabe ist es, zu diesem Ort zu gehen.
      </ion-text>
      <ion-text *ngIf="task.type == 'nav-arrow'">
        Bei der <b>"Navigation mit Richtungspfeil"</b> sieht der Spieler einen Pfeil und eine Distanzangabe, die ihm die
        Richtung zum nächsten Zielort weisen. Die Karte sieht er hingegen nicht.
      </ion-text>
      <ion-text *ngIf="task.type == 'nav-text'">
        Bei der <b>"Navigation mit Textanweisung"</b> bekommt der Spieler eine genaue Navigationsanweisung zum nächsten
        Zielort.
      </ion-text>
      <ion-text *ngIf="task.type == 'theme-loc'">
        Bei der <b>"Selbst-Lokalisation"</b> muss der Spieler seine aktuelle Position auf der Karte finden.
      </ion-text>
      <ion-text *ngIf="task.type == 'theme-object'">
        Bei der <b>"Objekt-Lokalisation"</b> muss der Spieler Objekte von der Karte Objekten seiner Umgebung zuordnen
        und umgekehrt.
      </ion-text>
      <ion-text *ngIf="task.type == 'theme-direction'">
        Bei der <b>"Richtungsbestimmung"</b> muss der Spieler seine Blickrichtung mit der Ausrichtung der Karte in
        Verbindung bringen.
      </ion-text>
    </ion-card-content>
  </ion-card>

  <div class="select-flex-container" *ngIf="task.type == 'theme-object' || task.type == 'theme-direction'">
    <div>
      <ion-text>
        <h5 *ngIf="task.type == 'theme-object'">Das gesuchte Objekt...</h5>
        <h5 *ngIf="task.type == 'theme-direction'">Die gesuchte Richtung...</h5>
      </ion-text>
      <select [(ngModel)]="task.question.type" (ngModelChange)="onObjectQuestionSelectChange($event)">
        <option [ngValue]="option.type" *ngFor="let option of objectQuestionSelect">
          {{ option.text | typeToText: task.type : false }}</option>
      </select>
    </div>
    <div>
      <ion-text>
        <h5>Der Spieler antwortet ...</h5>
      </ion-text>
      <select [(ngModel)]="task.answer.type" (ngModelChange)="onObjectAnswerSelectChange($event)">
        <option [ngValue]="option.type" *ngFor="let option of objectAnswerSelect">
          {{ option.text | typeToText: task.type : true }}</option>
      </select>
    </div>
  </div>

  <div>
    <question-type [(question)]="task.question"></question-type>
    <answer-type [(answer)]="task.answer"></answer-type>
  </div>

  <div *ngIf="task.settings">
    <ion-text>
      <h5>Weitere Einstellungen</h5>
    </ion-text>
    <ion-item lines="none" *ngIf="task.category == 'nav'">
      <ion-label>Eingabebestätigung</ion-label>
      <ion-toggle [(ngModel)]="task.settings.confirmation"></ion-toggle>
    </ion-item>
    <ion-item lines="none" *ngIf="task.type == 'nav-text'">
      <ion-label>Zielfahne anzeigen</ion-label>
      <ion-toggle [(ngModel)]="task.settings.showMarker"></ion-toggle>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Feedback</ion-label>
      <ion-toggle [(ngModel)]="task.settings.feedback" [color]="task.category == 'nav' ? 'primary' : 'secondary'"
        (ionChange)="feedbackChange()"></ion-toggle>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Mehrere Versuche</ion-label>
      <ion-toggle [(ngModel)]="task.settings.multipleTries" [color]="task.category == 'nav' ? 'primary' : 'secondary'"
        [disabled]="!task.settings.feedback">
      </ion-toggle>
    </ion-item>
    <ion-item lines="none">
      <ion-label>Genauigkeit</ion-label>
      <ion-range [(ngModel)]="task.settings.accuracy" min="0" max="100" [step]="step" snaps
        [color]="task.category == 'nav' ? 'primary' : 'secondary'" ticks pin (ionChange)="rangeChange()">
        <ion-label slot="start">0m</ion-label>
        <ion-icon slot="start" size="small" [color]="task.category == 'nav' ? 'primary' : 'secondary'" name="locate">
        </ion-icon>
        <ion-icon slot="end" [color]="task.category == 'nav' ? 'primary' : 'secondary'" name="locate"></ion-icon>
        <ion-label slot="end">100m</ion-label>
      </ion-range>
    </ion-item>
  </div>

  <ion-item detail lines="none" (click)="presentMapFeaturesModal()"
    *ngIf="task.type == 'nav-flag' || task.type == 'nav-text' || task.type == 'theme-loc' || task.type == 'theme-object' || task.type == 'theme-direction'">
    <ion-label>
      Kartenfeatures
    </ion-label>
  </ion-item>
</ion-content>