<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal('close')">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="type == 'nav'">Navigationsaufgabe</ion-title>
    <ion-title *ngIf="type == 'theme'">Thematische Aufgabe</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal(null)">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text>
    <h3>Aufgabentyp</h3>
  </ion-text>
  <select
    placeholder="Auswählen"
    [ngModel]="selectedTask"
    (ngModelChange)="onTaskSelected($event)"
  >
    <option [ngValue]="task" *ngFor="let task of tasks">{{ task.name }}</option>
  </select>

  <dynamic-form [config]="config" #form (submit)="submit($event)">
  </dynamic-form>

  <ion-text>
    <h3>Einstellungen</h3>
  </ion-text>
  <ion-item lines="none" *ngIf="selectedTask.type == 'nav-flag'">
    <ion-label>Eingabebestätigung</ion-label>
    <ion-toggle [(ngModel)]="confirmation"></ion-toggle>
  </ion-item>
  <ion-item lines="none" *ngIf="selectedTask.type == 'nav-text'">
    <ion-label>Zielfahne anzeigen</ion-label>
    <ion-toggle [(ngModel)]="showMarker"></ion-toggle>
  </ion-item>
  <ion-item detail lines="none" (click)="presentMapFeaturesModal()">
    <ion-label>
      Kartenfeatures
    </ion-label>
  </ion-item>
</ion-content>
