.list {
    height: 50%;
    overflow: scroll;
}

select {
    border-radius: 3px;
    cursor: pointer;
    border: none;
    background: white;
}

select:focus {
    outline: none;
}

select:disabled {
    color: lightgrey;
}

.map {
    height: 200px;
    width: 100%;
}

.info {
    background-color: rgba(var(--ion-color-primary-rgb), 0.1);
    padding: 1rem;
    border: rgba(var(--ion-color-primary-rgb), 0.7) 1px solid;
    border-radius: 0.5rem;
    margin-block: 1rem;
    margin: 1rem 0rem;
    width: 100%;

    > p {
        margin: 0;
        font-size: 0.8rem;
    }
}