<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="start">
      <ion-icon name="star"></ion-icon>
      <ion-label>Start</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="list"></ion-icon>
      <ion-label>Games</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab1">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="send"></ion-icon>
      <ion-label>Tab Three</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map-scale">
      <ion-icon name="map"></ion-icon>
      <ion-label>Map Scale</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map-swipe">
      <ion-icon name="code"></ion-icon>
      <ion-label>Map Swipe</ion-label>
    </ion-tab-button>



  </ion-tab-bar>

</ion-tabs>