<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="create-game"></ion-back-button>
    </ion-buttons>
    <ion-title>Neues Spiel</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToOverview()">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="create-game-map" class="map"></div>

  <!-- Upper Add Button Row -->
  <!-- <div class="ion-padding">
    <div class="center">
      <ion-chip color="primary" (click)="presentTaskModal('nav', 0)">
        <ion-icon name="navigate"></ion-icon>
      </ion-chip>
      <ion-chip color="secondary" (click)="presentTaskModal('theme', 0)">
        <ion-icon name="clipboard"></ion-icon>
      </ion-chip>
      <ion-chip color="tertiary" (click)="presentTaskModal('theme', 0)">
        <ion-icon name="list"></ion-icon>
      </ion-chip>
      <ion-chip color="medium" (click)="presentTaskModal('theme', 0)">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-chip>
    </div> -->


  <!-- Old card style -->
  <!-- <div *ngFor="let task of game.tasks; index as i">
    <ion-card class="my-card" *ngIf="task.type.includes('nav')">
      <ion-card-content>
        <ion-item class="item-text-wrap" lines="none">
          <ion-avatar slot="start">
            <div class="mymarker">
              <p class="list">{{ i + 1 }}</p>
            </div>
          </ion-avatar>
          <ion-label text-wrap class="ion-text-wrap">
            <ion-list>
              <ion-item lines="none">
                <ion-icon slot="end" name="close" (click)="deleteTask(task.id)"></ion-icon>
                <ion-chip color="primary" (click)="presentTaskModal('theme', 0)">
                  <ion-label>{{ task.name }}</ion-label>
                </ion-chip>
              </ion-item>
            </ion-list>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card class="my-card" *ngIf="task.type.includes('theme')">
      <ion-card-content>
        <ion-item class="item-text-wrap" lines="none">
          <ion-label text-wrap class="ion-text-wrap">
            <ion-list>
              <ion-item lines="none">
                <ion-icon slot="end" name="close" (click)="deleteTask(task.id)"></ion-icon>
                <ion-chip color="secondary" (click)="presentTaskModal('theme')">
                  <ion-label>{{ task.name }}</ion-label>
                </ion-chip>
              </ion-item>
            </ion-list>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <div class="center">
      <ion-chip color="primary" (click)="presentTaskModal('nav', i + 1)">
        <ion-icon name="navigate"></ion-icon>
      </ion-chip>
      <ion-chip color="secondary" (click)="presentTaskModal('theme', i + 1)">
        <ion-icon name="clipboard"></ion-icon>
      </ion-chip>
      <ion-chip color="tertiary" (click)="presentTaskModal('theme', 0)">
        <ion-icon name="list"></ion-icon>
      </ion-chip>
      <ion-chip color="medium" (click)="presentTaskModal('theme', 0)">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-chip>
    </div>
  </div> -->

  <!-- New reorder list style -->
  <ion-list>
    <ion-reorder-group (ionItemReorder)="doReorder($event)" [disabled]="!reorder">
      <ion-item class="item-text-wrap" lines="none" *ngFor="let task of game.tasks; index as i">
        <ion-avatar slot="start" *ngIf="task.type.includes('nav')">
          <div class="mymarker">
            <p class="list">{{ i + 1 }}</p>
          </div>
        </ion-avatar>
        <ion-chip *ngIf="task.type.includes('nav')" color="primary" (click)="presentTaskModal('nav', task)">
          <ion-label>{{ task.name }}</ion-label>
        </ion-chip>
        <ion-chip *ngIf="task.type.includes('theme')" color="secondary" (click)="presentTaskModal('theme', taks)">
          <ion-label>{{ task.name }}</ion-label>
        </ion-chip>
        <ion-chip *ngIf="task.type.includes('info')" color="warning" (click)="presentTaskModal('info', taks)">
          <ion-label>{{ task.settings.text }}</ion-label>
        </ion-chip>
        <ion-icon *ngIf="!reorder" slot="end" name="close" (click)="deleteTask(task.id)"></ion-icon>
        <ion-reorder *ngIf="reorder" slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>

  <ion-item lines="none">
    <ion-chip color="primary" (click)="presentTaskModal('nav')">
      <ion-icon name="navigate"></ion-icon>
    </ion-chip>
    <ion-chip color="secondary" (click)="presentTaskModal('theme')">
      <ion-icon name="clipboard"></ion-icon>
    </ion-chip>
    <ion-chip color="medium" (click)="presentTaskModal('theme')">
      <ion-icon name="list"></ion-icon>
    </ion-chip>
    <ion-chip color="warning" (click)="presentTaskModal('info')">
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-chip>
    <ng-container *ngIf="game.tasks.length > 1">
      <ion-chip color="dark" slot="end" *ngIf="!reorder" (click)="toggleReorder()">
        <ion-icon name="reorder"></ion-icon>
      </ion-chip>
      <ion-chip color="dark" slot="end" *ngIf="reorder" (click)="toggleReorder()">
        <ion-icon name="close"></ion-icon>
      </ion-chip>
    </ng-container>

  </ion-item>


  <!-- <ion-card class="my-card">
      <ion-card-header>
        <ion-card-title
          >Lernmodul „Selbstlokalisation und Kartenausrichtung"</ion-card-title
        >
        <ion-card-subtitle>Landmarken und 3D</ion-card-subtitle>
        <ion-icon slot="end" name="close"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <ion-item class="item-text-wrap" lines="none">
          <ion-avatar slot="start">
            <div class="mymarker">
              <p class="list">3</p>
            </div>
          </ion-avatar>
          <ion-label text-wrap class="ion-text-wrap">
            <ion-list>
              <ion-item lines="none">
                <ion-icon slot="end" name="close"></ion-icon>
                <ion-chip color="primary" (click)="presentTaskModal()">
                  <ion-label>Ziel erreichen</ion-label>
                </ion-chip>
              </ion-item>
              <ion-item lines="none">
                <ion-icon slot="end" name="close"></ion-icon>
                <ion-chip color="medium" (click)="presentTaskModal()">
                  <ion-label>Information</ion-label>
                </ion-chip>
              </ion-item>
              <ion-item lines="none">
                <ion-icon slot="end" name="close"></ion-icon>
                <ion-chip color="secondary" (click)="presentTaskModal()">
                  <ion-label>Blickrichtung</ion-label>
                </ion-chip>
              </ion-item>
            </ion-list>
          </ion-label>
        </ion-item>
      </ion-card-content>
      <ion-card-content>
        <ion-item class="item-text-wrap" lines="none">
          <ion-avatar slot="start">
            <div class="mymarker">
              <p class="list">2</p>
            </div>
          </ion-avatar>
          <ion-label text-wrap class="ion-text-wrap">
            <ion-list>
              <ion-item lines="none">
                <ion-icon slot="end" name="close"></ion-icon>
                <ion-chip color="primary" (click)="presentTaskModal()">
                  <ion-label>Ziel erreichen</ion-label>
                </ion-chip>
              </ion-item>
              <ion-item lines="none">
                <ion-icon slot="end" name="close"></ion-icon>
                <ion-chip color="tertiary" (click)="presentTaskModal()">
                  <ion-label>Mein Lernmodul</ion-label>
                </ion-chip>
              </ion-item>
            </ion-list>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card> -->


</ion-content>