<!-- Map info popup -->

<div>
    <!-- <ion-item lines="none">
        <ion-label><b>Game name: beacon.uuid</b></ion-label><br><br>
    </ion-item>

    <ion-item>
        <ion-label><b>Game name: beacon.uuid</b></ion-label><br><br>
    </ion-item> -->
    <!-- <ion-button expand="full" (click)="addBeaconInfo(beacon.minor)"> ADD -->

    <div>
        <!-- <p><b>Game name: </b> {{ gameDetails[0] }}</p> -->
        <p><b>Game name: </b> {{ gameName }}</p>
        <p><b>Game location:</b> {{ gamePlace }}</p>
        <p><b>Number of tasks:</b> {{ NumTasks }}</p>
    </div>
    <ion-button expand="full" (click)="playGame()"> Play </ion-button>
</div>