<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="/" text="{{ 'General.back_button' | translate }}"></ion-back-button>
    </ion-buttons>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <h1>{{ "User.forgotpw" | translate }}</h1>
    <form (ngSubmit)="resetPassword()" [formGroup]="loginForm">
      <ion-input
        placeholder="E-Mail"
        [id]="'email'"
        formControlName="email"
      ></ion-input>
      <br />
      <ion-button expand="block" type="submit" [disabled]="loginForm.invalid"
        >{{ "User.resetpw" | translate }}</ion-button
      >
    </form>
  </div>
</ion-content>
