<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <h1>Passwort vergessen</h1>
    <form (ngSubmit)="resetPassword()" [formGroup]="loginForm">
      <ion-input
        placeholder="E-Mail"
        [id]="'email'"
        formControlName="email"
      ></ion-input>
      <br />
      <ion-button expand="block" type="submit" [disabled]="loginForm.invalid"
        >Passwort zurücksetzen</ion-button
      >
    </form>
  </div>
</ion-content>
