<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color=dark defaultHref="play-game/play-game-list"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="game">{{ game.name }}</ion-title>
    <ion-buttons slot="primary"></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <!-- <div #map class="map"></div> -->
    <ion-card-header>
      <ion-card-title *ngIf="game">{{ game.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="game">
      {{ game.tasks.length }} {{ game.tasks.length == 1 ? "Aufgabe" : "Aufgaben"}}
      <div>
        <span *ngFor="let task of game.tasks" class="dot" [class.nav]="task.category.includes('nav')"
          [class.theme]="task.category.includes('theme')" [class.free]="task.category.includes('free')"
          [class.info]="task.category.includes('info')"></span>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="isVirtualWorld">
    <!-- <div #map class="map"></div> -->
    <ion-card-header>
      <ion-card-title> {{ "PlayGame.gamecode" | translate }}
        <ion-icon name="information-circle"
          (click)="showPopover($event, 'Sie müssen Spielcode hinzufügen, um die Origami VR App ausführen zu können.')">
        </ion-icon>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input placeholder="Spielcode eingeben" [(ngModel)]="gameCode"></ion-input>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="startGame()" [disabled]="gameCode.length==5||!isVirtualWorld?false:true">{{ "General.start" | translate }}</ion-button>
  </ion-toolbar>
</ion-footer>