<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color=dark defaultHref="play-game/play-game-list"
        text="{{ 'General.back_button' | translate }}"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="game">{{ game.name }}</ion-title>
    <ion-buttons slot="primary"></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <!-- <div #map class="map"></div> -->
    <ion-card-header>
      <ion-card-title *ngIf="game">{{ game.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="game">
      {{ game.tasks.length }} {{ game.tasks.length == 1 ? ['General.task' | translate ] : ['General.tasks' | translate
      ]}}
      <div>
        <span *ngFor="let task of game.tasks" class="dot" [class.nav]="task.category.includes('nav')"
          [class.theme]="task.category.includes('theme')" [class.free]="task.category.includes('free')"
          [class.info]="task.category.includes('info')"></span>
      </div>
    </ion-card-content>
  </ion-card>

  <!-- Enter name -->
  <ion-card>
    <!-- <div #map class="map"></div> -->
    <ion-card-header>
      <ion-card-title> Enter your name
        <!-- <ion-icon name="information-circle"
          (click)="showPopover($event, 'Popover.gameConnectionInfo')">
        </ion-icon> -->
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input placeholder="Player name (required)" [(ngModel)]="playerName"></ion-input>
    </ion-card-content>
  </ion-card>

  <!-- virtual environment -->
  <ion-card *ngIf="isVirtualWorld">
    <!-- <div #map class="map"></div> -->
    <ion-card-header>
      <ion-card-title> {{ "PlayGame.gameConnection" | translate }}
        <ion-icon name="information-circle" (click)="showPopover($event, 'Popover.gameConnectionInfo')">
        </ion-icon>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-input placeholder="{{ 'PlayGame.pl_EnterCode' | translate }}" [(ngModel)]="gameCode"></ion-input>
    </ion-card-content>
  </ion-card>

  <!-- multi-player impl. -->
  <!-- DoDo: change it to qr code scan -->
  <!-- <ion-card *ngIf="isVirtualWorld"> -->
  <ion-card *ngIf="!isSingleMode">
    <!-- <div #map class="map"></div> -->
    <ion-card-header>
      <ion-card-title> Scan instructor code
        <ion-icon name="information-circle"
            (click)="showPopover($event, 'You can get it from the instructor')">
          </ion-icon>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- <ion-input placeholder="Enter teacher code (required)" disabled="true" [(ngModel)]="teacherCode"></ion-input> -->
      <!-- to use -->
      <!-- <ion-input disabled="true" [(ngModel)]="teacherCode"></ion-input> -->
      <!-- <ion-input *ngIf="teacherCode" placeholder="Scan instructor barcode (required)" disabled="true" [(ngModel)]="teacherCode" ></ion-input> --> <!-- alternative-->
      <ion-input placeholder="Scan instructor barcode (required)" [(ngModel)]="teacherCode" ></ion-input>

      <div style="text-align: center">
        <ion-button (click)=openBarcodeScanner() slot="end">
          <!-- <ion-button (click)=presentBarcodeScannerModal() slot="end"> -->
          <ion-icon name="scan" slot="start"></ion-icon>
          scan code
        </ion-button>
      </div>


    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item lines="none">
      <ion-label text-wrap style="font-weight: bold;">{{ "PlayGame.shareDataAgreement" | translate }}</ion-label>
      <ion-checkbox slot="start" [(ngModel)]="shareData_cbox"></ion-checkbox>
    </ion-item>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="startGame()" [disabled]="!playerName || (!teacherCode && !isSingleMode)">{{
      "General.start" | translate }}</ion-button>
  </ion-toolbar>
</ion-footer>