// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.

.invisible {
    opacity: 0;
}

.mymarker {
    background-image: url("/assets/icons/marker-editor.svg");
    background-size: cover;
    width: 32px;
    height: 32px;
    cursor: pointer;

    > p {
        margin: 0;
        padding-top: 3px;
        text-align: center;
        color: white;
        font-weight: bold;
        font-size: 12px;
    }

    > p.list {
        padding-top: 5px;
    }
}

.sc-ion-select-popover-md,
.sc-ion-select-popover-ios {
    white-space: normal !important;
}
