<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color=dark defaultHref="start"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "Showroom.titleShowroom" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="create_card_create" color="secondary">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="map"></ion-icon> {{ "General.mapfeatures" | translate }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ "Showroom.mapfeaturesDescription" | translate }}
    </ion-card-content>
  </ion-card>

  <ion-card id="create_card_edit" (click)=navigateTaskShowroom() color="secondary">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="navigate"></ion-icon>
        <ion-icon name="clipboard"></ion-icon> {{ "General.tasktypes" | translate }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ "Showroom.tasktypesDescription" | translate }}
    </ion-card-content>
  </ion-card>

</ion-content>