<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="dismissModal('close')">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-icon color="danger" name="map"></ion-icon> Kartenfeatures
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="dismissModal(null)">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <h5>Karteneinstellungen</h5>
    <!-- <ion-item>
      <ion-label>Zoom</ion-label>
      <ion-toggle color="danger" [(ngModel)]="features.zoombar"></ion-toggle>
    </ion-item> -->
    <ion-item>
      <ion-label>Zoom</ion-label>
      <select [(ngModel)]="features.zoombar" (change)="onZoomChange()" interface="popover">
        <option value="true">manuell</option>
        <option value="task">Zoom zur Aufgabe</option>
        <option value="game">Zoom zum Spiel</option>
        <option value="false">aus</option>
      </select>
    </ion-item>
    <ion-item>
      <ion-label>Kartenbereich</ion-label>
      <select [(ngModel)]="features.pan" interface="popover">
        <option value="true">verschiebbar</option>
        <option value="center" [disabled]="features.zoombar == 'task' || features.zoombar == 'game'">
          automatisch-zentriert</option>
        <option value="static">statisch</option>
      </select>
    </ion-item>
    <ion-item>
      <ion-label>Kartenrotation</ion-label>
      <select [(ngModel)]="features.rotation" interface="popover">
        <option *ngIf='!isVirtualWorld' value="manual">manuell</option>
        <option *ngIf='!isVirtualWorld' value="auto">automatisch</option>
        <option *ngIf='!isVirtualWorld' value="button">automatisch auf Knopfdruck</option>
        <option value="north">genordet</option>
      </select>
    </ion-item>
    <ion-item>
      <ion-label>Kartenmaterial</ion-label>
      <select [(ngModel)]="features.material" interface="popover">
        <option value="standard">Standardkarte</option>
        <option value="selection">Kartenauswahl</option>
        <option value="sat">Satellitenbild</option>
        <option value="sat-button">Satellitenbild auf Knopfdruck</option>
        <option value="sat-swipe">Satellitenbild mit Swipefunktion</option>
        <option value="3D">3D-Ansicht</option>
        <option value="3D-button">3D-Ansicht auf Knopfdruck</option>
      </select>
    </ion-item>

    <h5>Marker</h5>
    <ion-item>
      <ion-label>Positionsmarker</ion-label>
      <select [(ngModel)]="features.position" interface="popover">
        <option value="none">ohne</option>
        <option value="true">mit</option>
        <option value="button">auf Knopfdruck</option>
        <option value="start">zu Aufgabenbeginn</option>
      </select>
    </ion-item>
    <ion-item>
      <ion-label>Blickrichtungsmarker</ion-label>
      <select [(ngModel)]="features.direction" interface="popover">
        <option value="none">ohne</option>
        <option value="true">mit</option>
        <option value="button">auf Knopfdruck</option>
        <option value="start">zu Aufgabenbeginn</option>
      </select>
    </ion-item>

    <ion-item>
      <ion-label>Trackaufzeichnung</ion-label>
      <ion-toggle color="danger" [(ngModel)]="features.track"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Aktueller Straßenabschnitt</ion-label>
      <ion-toggle color="danger" [(ngModel)]="features.streetSection"></ion-toggle>
    </ion-item>

    <ion-item style="--border-style: none;">
      <ion-label>Reduzierter Kartenausschnitt</ion-label>
      <ion-toggle color="danger" [(ngModel)]="features.reducedInformation"></ion-toggle>
    </ion-item>

    <ion-item>
    <ion-range color="danger" [(ngModel)]="features.reducedMapSectionDiameter" style="padding-top: 22px;" min="20" max="100" snaps ticks pin step="5" [disabled]="! features.reducedInformation">
      <ion-label slot="start">20m</ion-label>
      <ion-icon slot="start" size="small"  name="locate">
      </ion-icon>
      <ion-icon slot="end"  name="locate"></ion-icon>
      <ion-label slot="end">100m</ion-label>
    </ion-range>
  </ion-item>

    <ion-item>
      <ion-label>Hervorhebung von Landmarken</ion-label>
      <ion-toggle color="danger" [(ngModel)]="features.landmarks"></ion-toggle>
    </ion-item>
    <!-- <ion-item [style.visibility]="!features.landmarks ? 'hidden' : 'visible'" lines="none"> -->
    <div #map class="map" [style.visibility]="!features.landmarks ? 'hidden' : 'visible'"></div>
    <!-- </ion-item> -->
  </ion-list>
</ion-content>