select {
    border-radius: 3px;
    cursor: pointer;
    border: none;
    background: var(--ion-item-background);
}

select:focus {
    outline: none;
}

select:disabled {
    color: lightgrey;
}

select { text-align-last: right; }
option { direction: rtl; }