<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="dismissModal('close')">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-icon color="danger" name="map"></ion-icon> {{ "General.mapfeatures" |
      translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="dismissModal(null)">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <h5>{{ "Mapfeatures.mapSettings" | translate }}</h5>
    <!-- <ion-item>
      <ion-label>Zoom</ion-label>
      <ion-toggle color="danger" [(ngModel)]="features.zoombar"></ion-toggle>
    </ion-item> -->
    <ion-item>
      <ion-label>{{ "Mapfeatures.zoom" | translate }}</ion-label>
      <select
        [(ngModel)]="features.zoombar"
        (change)="onZoomChange()"
        interface="popover"
      >
        <option value="true">{{ "Mapfeatures.manual" | translate }}</option>
        <option value="task">{{ "Mapfeatures.zoomToTask" | translate }}</option>
        <option value="game">{{ "Mapfeatures.zoomToBB" | translate }}</option>
        <option value="false">{{ "Mapfeatures.off" | translate }}</option>
      </select>
    </ion-item>
    <ion-item>
      <ion-label>{{ "Mapfeatures.mapSection" | translate }}</ion-label>
      <select [(ngModel)]="features.pan" interface="popover">
        <option value="true">{{ "Mapfeatures.panningOn" | translate }}</option>
        <option
          value="center"
          [disabled]="features.zoombar == 'task' || features.zoombar == 'game'"
        >
          {{ "Mapfeatures.autoCentered" | translate }}
        </option>
        <option value="static">{{ "Mapfeatures.static" | translate }}</option>
      </select>
    </ion-item>
    <ion-item>
      <ion-label>{{ "Mapfeatures.mapRotation" | translate }}</ion-label>
      <select [(ngModel)]="features.rotation" interface="popover">
        <option value="north">
          {{ "Mapfeatures.fixedToNorth" | translate }}
        </option>
        <option value="manual">{{ "Mapfeatures.manual" | translate }}</option>
        <option value="auto">{{ "Mapfeatures.automatic" | translate }}</option>
        <option *ngIf="!isVirtualWorld" value="button">
          {{ "Mapfeatures.automaticOnDemand" | translate }}
        </option>
      </select>
    </ion-item>
    <ion-item>
      <ion-label>{{ "Mapfeatures.mapType" | translate }}</ion-label>
      <select [(ngModel)]="features.material" interface="popover">
        <option value="standard">
          {{ "Mapfeatures.standardMap" | translate }}
        </option>
        <option *ngIf="!isVirtualWorld" value="selection">
          {{ "Mapfeatures.mapChoice" | translate }}
        </option>
        <option *ngIf="!isVirtualWorld" value="sat">
          {{ "Mapfeatures.satellite" | translate }}
        </option>
        <option *ngIf="!isVirtualWorld" value="sat-button">
          {{ "Mapfeatures.satelliteOnDemand" | translate }}
        </option>
        <option *ngIf="!isVirtualWorld" value="sat-swipe">
          {{ "Mapfeatures.satelliteSwipe" | translate }}
        </option>
        <option *ngIf="!isVirtualWorld" value="3D">
          {{ "Mapfeatures.3D" | translate }}
        </option>
        <option *ngIf="!isVirtualWorld" value="3D-button">
          {{ "Mapfeatures.3DonDemand" | translate }}
        </option>
        <option *ngIf="!isVirtualWorld" value="blank">
          {{ "Mapfeatures.blankMap" | translate }}
        </option>
        <option *ngIf="!isVirtualWorld" value="blank-swipe">
          {{ "Mapfeatures.blankMapAndSatelliteSwipe" | translate }}
        </option>
      </select>
    </ion-item>
    <!-- switch map layer to satellite (only for Vir.Env. map material tasks) -->
    <ion-item
      *ngIf="isVirtualWorld && virEnvLayers_data[this.virEnvType] && virEnvLayers_data[this.virEnvType].satellite"
    >
      <ion-label>{{ "Mapfeatures.switchLayer" | translate }}</ion-label>
      <select [(ngModel)]="features.switchLayer" interface="popover">
        <option value="none">{{ "Mapfeatures.off" | translate }}</option>
        <option value="true">{{ "Mapfeatures.on" | translate }}</option>
      </select>
    </ion-item>

    <h5>{{ "Mapfeatures.markerSettings" | translate }}</h5>
    <ion-item>
      <ion-label>{{ "Mapfeatures.locationMarker" | translate }}</ion-label>
      <select [(ngModel)]="features.position" interface="popover">
        <option value="none">{{ "Mapfeatures.off" | translate }}</option>
        <option value="true">{{ "Mapfeatures.on" | translate }}</option>
        <option value="button">{{ "Mapfeatures.onDemand" | translate }}</option>
        <option value="start">{{ "Mapfeatures.init" | translate }}</option>
      </select>
    </ion-item>
    <ion-item>
      <ion-label>{{ "Mapfeatures.directionMarker" | translate }}</ion-label>
      <select [(ngModel)]="features.direction" interface="popover">
        <option value="none">{{ "Mapfeatures.off" | translate }}</option>
        <option value="true">{{ "Mapfeatures.on" | translate }}</option>
        <option value="button">{{ "Mapfeatures.onDemand" | translate }}</option>
        <option value="start">{{ "Mapfeatures.init" | translate }}</option>
      </select>
    </ion-item>

    <ion-item style="--border-style: none">
      <ion-label>{{ "Mapfeatures.track" | translate }}</ion-label>
      <ion-toggle color="danger" [(ngModel)]="features.track"></ion-toggle>
    </ion-item>

    <ion-item [disabled]="! features.track">
      <ion-label>
        {{ "Mapfeatures.keepTrack" | translate }}
        <ion-icon
          name="information-circle"
          (click)="showPopover($event, 'Popover.showTrack')"
        >
        </ion-icon>
      </ion-label>
      <select interface="popover" [(ngModel)]="features.keepTrack">
        <option ngValue="current">
          {{ "DrawSetting.onlyCurrentTask" | translate }}
        </option>
        <option ngValue="next">
          {{ "DrawSetting.alsoNextTask" | translate }}
        </option>
        <option ngValue="all">
          {{ "DrawSetting.inEntireGame" | translate }}
        </option>
      </select>
    </ion-item>

    <ion-item>
      <ion-label>{{ "Mapfeatures.streetMarker" | translate }}</ion-label>
      <ion-toggle
        color="danger"
        [(ngModel)]="features.streetSection"
      ></ion-toggle>
    </ion-item>

    <ion-item style="--border-style: none">
      <ion-label>{{ "Mapfeatures.buffer" | translate }}</ion-label>
      <ion-toggle
        color="danger"
        [(ngModel)]="features.reducedInformation"
      ></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-range
        color="danger"
        [(ngModel)]="features.reducedMapSectionDiameter"
        style="padding-top: 22px"
        min="20"
        max="100"
        snaps
        ticks
        pin
        step="5"
        [disabled]="! features.reducedInformation"
      >
        <ion-label slot="start">20m</ion-label>
        <ion-icon slot="start" size="small" name="locate"> </ion-icon>
        <ion-icon slot="end" name="locate"></ion-icon>
        <ion-label slot="end">100m</ion-label>
      </ion-range>
    </ion-item>

    <ion-item>
      <ion-label>{{ "Mapfeatures.landmarks" | translate }}</ion-label>
      <ion-toggle color="danger" [(ngModel)]="features.landmarks"></ion-toggle>
    </ion-item>
    <!-- <ion-item [style.visibility]="!features.landmarks ? 'hidden' : 'visible'" lines="none"> -->
    <div
      #map
      class="map"
      [style.visibility]="!features.landmarks ? 'hidden' : 'visible'"
    ></div>
    <!-- </ion-item> -->
  </ion-list>
</ion-content>
