<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal('close')">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Kartenfeatures</ion-title>
    <ion-buttons slot="end">
      <!--Beim Klicken soll sich ein Pop-Up mit dem Map-Showroom öffnen-->
      <ion-button>
        <ion-icon name="help"></ion-icon>
      </ion-button>
      <ion-button (click)="dismissModal(null)">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <h5>Karteneinstellungen</h5>
    <ion-item>
      <ion-label>Zoom</ion-label>
      <ion-toggle [(ngModel)]="features.zoombar"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Kartenbereich</ion-label>
      <select [(ngModel)]="features.pan">
        <option value="true">verschiebbar</option>
        <option value="center">automatisch-zentriert</option>
        <option value="static">statisch</option>
      </select>
    </ion-item>
    <ion-item>
      <ion-label>Kartenrotation</ion-label>
      <select [(ngModel)]="features.rotation">
        <option value="manual">manuell</option>
        <option value="auto">automatisch</option>
        <option value="button">automatisch auf Knopfdruck</option>
        <option value="north">genordet</option>
      </select>
    </ion-item>
    <ion-item>
      <ion-label>Kartenmaterial</ion-label>
      <select [(ngModel)]="features.material">
        <option value="standard">Standardkarte</option>
        <option value="selection">Kartenauswahl</option>
        <option value="sat">Satellitenbild</option>
        <option value="sat-button">Satellitenbild auf Knopfdruck</option>
        <option value="sat-swipe">Satellitenbild mit Swipefunktion</option>
        <option value="3D">3D-Ansicht</option>
        <option value="3D-button">3D-Ansicht auf Knopfdruck</option>
      </select>
    </ion-item>

    <h5>Marker</h5>
    <ion-item>
      <ion-label>Positionsmarker</ion-label>
      <select [(ngModel)]="features.position">
        <option value="none">ohne</option>
        <option value="true">durchgängig</option>
        <option value="button">auf Knopfdruck</option>
        <option value="start">zu Aufgabenbeginn</option>
      </select>
    </ion-item>
    <ion-item>
      <ion-label>Blickrichtungsmarker</ion-label>
      <select [(ngModel)]="features.direction">
        <option value="none">ohne</option>
        <option value="true">durchgängig</option>
        <option value="button">auf Knopfdruck</option>
        <option value="start">zu Aufgabenbeginn</option>
      </select>
    </ion-item>

    <ion-item>
      <ion-label>Trackaufzeichnung</ion-label>
      <ion-toggle [(ngModel)]="features.track"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Aktueller Straßenabschnitt</ion-label>
      <ion-toggle [(ngModel)]="features.streetSection"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Reduzierter Kartenausschnitt</ion-label>
      <ion-toggle [(ngModel)]="features.reducedInformation"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Hervorhebung von Landmarken</ion-label>
      <ion-toggle [(ngModel)]="features.landmarks"></ion-toggle>
    </ion-item>
    <ion-item [style.visibility]="!features.landmarks ? 'hidden' : 'visible'">
      <div #map class="map"></div>
    </ion-item>
  </ion-list>
</ion-content>
