<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="create-game"></ion-back-button>
    </ion-buttons>
    <ion-title>Gestalte dein Spiel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="goToCreateGameMap()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Name <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="text" [(ngModel)]="model.name" name="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Autor</ion-label>
        <ion-input type="text" [(ngModel)]="model.author" name="author"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Beschreibung <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-textarea required [(ngModel)]="model.description" name="description"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Zeitbegrenzung in Minuten</ion-label>
        <ion-input type="number" [(ngModel)]="model.duration" name="duration"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Tracking <ion-icon name="information-circle" (click)=showTrackingInfo($event)></ion-icon>
        </ion-label>
        <ion-toggle checked [(ngModel)]="model.tracking" name="tracking"></ion-toggle>
      </ion-item>

    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin">Spiel erstellen
      </ion-button>
    </div>
  </form>

</ion-content>