<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" defaultHref="/" text="{{ 'General.back_button' | translate }}"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <h1>GeoGami Login</h1>

    <ion-card color="danger" *ngIf="error">
      <ion-card-content> {{error}} </ion-card-content>
    </ion-card>

    <ion-card color="light" *ngIf="register">
      <ion-card-content>
        {{ "User.registerSuccess" | translate }}
      </ion-card-content>
    </ion-card>
    
    <br />

    <form (ngSubmit)="login()" [formGroup]="loginForm">
      <ion-input placeholder="{{ 'User.pl_usernameOREmail' | translate }}" [id]="'username'" formControlName="username"></ion-input>
      <br />
      <ion-input type="password" placeholder="{{ 'User.pl_password' | translate }}" [id]="'password'" formControlName="password"></ion-input>
      <br />
      <ion-button expand="block" type="submit" [disabled]="loginForm.invalid">
        <ion-spinner *ngIf="loading"></ion-spinner> Login
      </ion-button>
      <br />
      <ion-button fill="outline" expand="block" (click)="navigateRegister()">{{ "User.register" | translate }}</ion-button>
      <br />
      <ion-button fill="clear" expand="block" (click)="navigateForgotPassword()">{{ "User.forgotpw" | translate }}</ion-button>
    </form>
    <br />
  </div>
</ion-content>