<div [formGroup]="group">
  <ion-text>
    <h5>{{ config.label }} <ion-icon *ngIf="config.info" name="information-circle"
        (click)='showPopover($event, config.info)'></ion-icon>
    </h5>
  </ion-text>
  <select *ngIf="config" [formControlName]="config.name" [(ngModel)]="selectedQuestionType">
    <option *ngFor="let option of config.selectOptions" [ngValue]="option">{{ option.label }}</option>
  </select>

  <!-- <ion-select interface="action-sheet" *ngIf="config" [formControlName]="config.name"
    [(ngModel)]="selectedQuestionType">
    <ion-select-option *ngFor="let option of config.selectOptions" [value]="option">{{ option.label }}
    </ion-select-option>
  </ion-select> -->

  <dynamic-form *ngIf="selectedQuestionType" [(config)]="selectedQuestionType.items" #form (submit)="submit($event)">
  </dynamic-form>
</div>