<div
  *ngIf="
    question.type != questionTypeEnum.NAV_INSTRUCTION &&
    question.type != questionTypeEnum.NAV_INSTRUCTION_PHOTO
  "
>
  <h5>
    {{ "CreateGame.taskInstruction" | translate }}
    <ion-icon
      name="information-circle"
      (click)="
        showPopover($event, 'Popover.taskInstruction')
      "
    >
    </ion-icon>
  </h5>
  <ion-textarea autoGrow ngModel='{{ question.text | translate }}'></ion-textarea>
  <!-- <ion-textarea autoGrow [(ngModel)]="question.text" ></ion-textarea> -->
  <ion-text color="medium">
    <p>
      {{ "CreateGame.markdownSupported" | translate }}
      <ion-icon
        name="information-circle"
        (click)="
          showPopover(
            $event,
            'Popover.markdown'
          )
        "
      >
      </ion-icon>
    </p>
  </ion-text>
</div>

<div *ngIf="question.type == questionTypeEnum.NAV_INSTRUCTION">
  <h5>
    {{ "CreateGame.navInstruction" | translate }}
    <ion-icon
      name="information-circle"
      (click)="
        showPopover(
          $event,
          'Popover.navInstruction'
        )
      "
    >
    </ion-icon>
  </h5>
  <ion-textarea autoGrow ngModel='{{ question.text | translate }}'></ion-textarea>
  <ion-text color="medium">
    <p>
      {{ "CreateGame.markdownSupported" | translate }}
      <ion-icon
        name="information-circle"
        (click)="
          showPopover(
            $event,
            'Popover.markdown'
          )
        "
      >
      </ion-icon>
    </p>
  </ion-text>
</div>

<div *ngIf="question.type == questionTypeEnum.NAV_INSTRUCTION_PHOTO">
  <h5>
    {{ "CreateGame.photo" | translate }}
    <ion-icon
      name="information-circle"
      (click)="showPopover($event, 'Popover.photo')"
    >
    </ion-icon>
  </h5>
  <app-photo-upload
    [(photo)]="question.photo"
    [taskType]="taskType"
    theme="primary"
  ></app-photo-upload>
  <h5>
    {{ "CreateGame.navInstruction" | translate }}
    <ion-icon
      name="information-circle"
      (click)="
        showPopover(
          $event,
          'Popover.navInstruction'
        )
      "
    >
    </ion-icon>
  </h5>
  <ion-textarea autoGrow ngModel='{{ question.text | translate }}'></ion-textarea>
  <ion-text color="medium">
    <p>
      {{ "CreateGame.markdownSupported" | translate }}
      <ion-icon
        name="information-circle"
        (click)="
          showPopover(
            $event,
            'Popover.markdown'
          )
        "
      >
      </ion-icon>
    </p>
  </ion-text>
</div>

<div>
  <h5>
    {{ "CreateGame.audioMessage" | translate }}
    <ion-icon
      name="information-circle"
      (click)="
        showPopover(
          $event,
          'Popover.audioMessage'
        )
      "
    >
    </ion-icon>
  </h5>
  <app-audio-recorder [(audioSource)]="question.audio"></app-audio-recorder>
</div>

<div *ngIf="question.type == questionTypeEnum.MAP_FEATURE">
  <h5>
    {{ "CreateGame.objectLocation" | translate }}
    <ion-icon
      name="information-circle"
      (click)="
        showPopover(
          $event,
          'Popover.objectLocation'
        )
      "
    >
    </ion-icon>
  </h5>
  <app-map
    featureType="geometry"
    drawTheme="searchArea"
    [(feature)]="question.geometry"
    [isVirtualWorld]="isVirtualWorld"
    [isVRMirrored]="isVRMirrored"
  ></app-map>
</div>

<div *ngIf="question.type == questionTypeEnum.MAP_FEATURE_FREE">
  <h5>
    {{ "CreateGame.markedMap" | translate }}
    <ion-icon
      name="information-circle"
      (click)="
        showPopover(
          $event,
          'Popover.markedMap'
        )
      "
    >
    </ion-icon>
  </h5>
  <app-map
    featureType="geometry-free"
    drawTheme="searchArea"
    [(feature)]="question.geometry"
  ></app-map>
</div>

<div *ngIf="question.mode == taskModeEnum.NO_FEATURE">
  <h5>
    {{ "CreateGame.objectLocation" | translate }}
    <ion-icon
      name="information-circle"
      (click)="
        showPopover(
          $event,
          'Popover.objectLocation'
        )
      "
    >
    </ion-icon>
  </h5>
  <app-map
    featureType="geometry"
    drawTheme="searchArea"
    [(feature)]="question.geometry"
    [isVirtualWorld]="isVirtualWorld"
    [isVRMirrored]="isVRMirrored"
  ></app-map>
</div>

<div *ngIf="question.type == questionTypeEnum.MAP_FEATURE_PHOTO">
  <h5>
    {{ "CreateGame.objectPhoto" | translate }}
    <ion-icon
      name="information-circle"
      (click)="
        showPopover(
          $event,
          'Popover.objectPhoto'
        )
      "
    >
    </ion-icon>
  </h5>
  <app-photo-upload
    [(photo)]="question.photo"
    [taskType]="taskType"
  ></app-photo-upload>
  <h5>
    {{ "CreateGame.objectLocation" | translate }}
    <ion-icon
      name="information-circle"
      (click)="
        showPopover(
          $event,
          'Popover.objectLocation'
        )
      "
    >
    </ion-icon>
  </h5>
  <app-map
    featureType="geometry"
    drawTheme="searchArea"
    [(feature)]="question.geometry"
    [isVirtualWorld]="isVirtualWorld"
    [isVRMirrored]="isVRMirrored"
  ></app-map>
</div>

<div *ngIf="question.type == questionTypeEnum.MAP_DIRECTION">
  <h5>
    {{ "CreateGame.destinationDirection" | translate }}
    <ion-icon
      name="information-circle"
      (click)="
        showPopover(
          $event,
          'Popover.destinationDirection'
        )
      "
    >
    </ion-icon>
  </h5>
  <app-map featureType="direction" [(feature)]="question.direction" [isVirtualWorld]="isVirtualWorld" [isVRMirrored]="isVRMirrored"></app-map>
</div>

<div *ngIf="question.type == questionTypeEnum.MAP_DIRECTION_MARKER">
  <h5>
    {{ "CreateGame.directionMap" | translate }}
    <ion-icon
      name="information-circle"
      (click)="
        showPopover(
          $event,
          'Popover.directionMap'
        )
      "
    >
    </ion-icon>
  </h5>
  <app-map featureType="direction" [(feature)]="question.direction" [isVirtualWorld]="isVirtualWorld" [isVRMirrored]="isVRMirrored"></app-map>
</div>

<div *ngIf="question.type == questionTypeEnum.MAP_DIRECTION_PHOTO">
  <h5>
    {{ "CreateGame.photoDirection" | translate }}
    <ion-icon
      name="information-circle"
      (click)="
        showPopover(
          $event,
          'Popover.photoDirection'
        )
      "
    >
    </ion-icon>
  </h5>
  <app-photo-upload
    [(photo)]="question.photo"
    [taskType]="taskType"
  ></app-photo-upload>
  <h5>
    {{ "CreateGame.directionMap" | translate }}
    <ion-icon
      name="information-circle"
      (click)="
        showPopover(
          $event,
          'Popover.directionMap'
        )
      "
    >
    </ion-icon>
  </h5>
  <app-map featureType="direction" [(feature)]="question.direction"></app-map>
</div>

<div *ngIf="question.type == questionTypeEnum.PHOTO">
  <h5>
    {{ "CreateGame.photoTask" | translate }}
    <ion-icon
      name="information-circle"
      (click)="
        showPopover(
          $event,
          'Popover.photo'
        )
      "
    >
    </ion-icon>
  </h5>
  <app-photo-upload
    [(photo)]="question.photo"
    [taskType]="taskType"
  ></app-photo-upload>
</div>
