<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color=dark defaultHref="edit-game"></ion-back-button>
    </ion-buttons>
    <ion-title>Speichere dein OriGami</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [className]="showUpload ? 'blur' : ''">
    <ion-card color="light" *ngIf="game">
      <ion-card-content>
        Gib deinem Spiel einen aussagekräftigen Namen
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item color="light">
            <ion-label position="stacked">Spiel-Name:<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-input color="primary" required type="text" [(ngModel)]="game.name" name="name"></ion-input>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card color="light">
      <ion-card-content>
        <ion-item lines="none" color="light">
          <ion-label>Kartenausschnitt <ion-icon name="information-circle"
              (click)="showPopover($event, 'Soll der Spieler Feedback darüber erhalten, ob er die Aufgabe korrekt gelöst hat?')">
            </ion-icon>
          </ion-label>
          <ion-toggle [(ngModel)]="mapSection" (ngModelChange)="mapSectionToggleChange($event)"></ion-toggle>
        </ion-item>

        <div class="flex-radio-group" *ngIf="mapSection">
          <div>
            <input id="rd-visible" name="map-section" type="radio" value="visible" [checked]="mapSectionVisible"
              (click)="mapSectionVisibleChange(true)">
            <label for="rd-visible"> Umrandet</label>
          </div>

          <div>
            <input id="rd-invisible" name="map-section" type="radio" value="invisible" [checked]="!mapSectionVisible"
              (click)="mapSectionVisibleChange(false)">
            <label for="rd-invisible"> Unsichtbar</label>
          </div>
        </div>

        <div #boundingMap class="map" *ngIf="mapSection"></div>
      </ion-card-content>
    </ion-card>


    <ion-card color="light">
      <ion-card-content>
        <div class="ion-padding">
          <ion-button expand="block" type="submit" class="ion-no-margin" (click)="uploadGame()">Spiel speichern
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>

  </div>


  <div class="overlay success" *ngIf="showUpload">
    <h3 *ngIf="!showSuccess">Übertrage Daten...</h3>
    <h3 *ngIf="showSuccess">Dein Spiel wurde gespeichert</h3>
    <div lottie [options]="lottieConfig"></div>
    <ion-button (click)="navigateHome()" [disabled]="!showSuccess">Fertig</ion-button>
  </div>
</ion-content>