.scan-box {
    border: 2px solid #fff;
    box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
    content: "";
    display: block;
    left: 50%;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

.info {
    position: absolute;
    bottom: 0px;
    left: 5px;
    color: white;
}

/* https://codepen.io/lexctk/pen/paQaBv */
/* animated laser beam */
.scanner {
    width: 100%;
    height: 3px;
    background-color: red;
    opacity: 0.7;
    position: relative;
    // box-shadow: 0px 0px 8px 10px rgba(170, 11, 23, 0.49);
    top: 50%;
    animation-name: scan;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    /*   animation-play-state: paused; */
    animation-play-state: running;
}

@keyframes scan {
    0% {
        // box-shadow: 0px 0px 8px 10px rgba(170, 11, 23, 0.49);
        top: 50%;
    }

    25% {
        // box-shadow: 0px 6px 8px 10px rgba(170, 11, 23, 0.49);
        top: 5px;
    }

    75% {
        // box-shadow: 0px -6px 8px 10px rgba(170, 11, 23, 0.49);
        top: 98%;
    }
}