<ion-card class="overlay feedback" *ngIf="showFeedback">
  <h1 class="feedback-icon">{{ feedback.icon }}</h1>
  <h5 [innerHTML]="feedback.text"></h5>

  <ion-card color="success" *ngIf="feedback.solution != ''">
    <ion-card-content>
      {{ feedback.solution }}
      <ion-img [src]="feedback.img" *ngIf="feedback.img"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card color="medium" *ngIf="feedback.hint != '' && this.task.settings.feedback">
    <ion-card-content>
      {{ feedback.hint }}
    </ion-card-content>
  </ion-card>

  <ion-button *ngIf="!task.settings.multipleTries && task.settings.feedback"
    (click)="feedbackRetry ? dismissFeedback() : nextTask()" color="danger">
    {{ "General.next" | translate }}
  </ion-button>
</ion-card>