.map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

.range-overlay {
    position: absolute;
    bottom: 3rem;
    left: 1rem;
    right: 1rem;
    background-color: white;
    border-radius: 1rem;
}