<ng-container>
  <!-- <ion-text>
    <h5>
      {{ config.label }}
      <ion-icon
        name="information-circle"
        (click)="showPopover($event, config.info)"
      >
      </ion-icon>
    </h5>
  </ion-text> -->
  <div #map class="map"></div>
  <ion-button size="small" expand="block" *ngIf="directionMarkerPosition" (click)="resetViewDirectionMarker()">
    {{ "CreateGame.reset" | translate }}</ion-button>
  <!-- <div #marker class="marker" *ngIf="showDirectionMarker"></div> -->
</ng-container>