<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color=dark defaultHref="start"></ion-back-button>
    </ion-buttons>
    <ion-title>Version wählen</ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content>

  <ion-card class="welcome-card" (click)=navigateCreateVRGameTypeA()>
    <ion-img src='https://i.imgur.com/SvU6G4d.png'></ion-img>
  </ion-card>

  <ion-card class="welcome-card" (click)=navigateCreateVRGameTypeB()>
    <ion-img src='https://i.imgur.com/vRzUK1F.png'></ion-img>
  </ion-card>

</ion-content>