<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color=dark defaultHref="start"></ion-back-button>
    </ion-buttons>
    <ion-title>Entwickle dein OriGami</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="create_card_create" (click)=navigateCreateGamePage()>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="add-circle"></ion-icon> Erstellen
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Gestalte ein neues Spiel.
    </ion-card-content>
  </ion-card>

  <ion-card id="create_card_edit" (click)=navigateEditGame()>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="construct"></ion-icon> Bearbeiten
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Verändere ein bereits bestehendes Spiel.
    </ion-card-content>
  </ion-card>

  <ion-card id="beacon_settings" (click)=navigateBeaconSettings()>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="settings"></ion-icon> Beacon Settings
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      This is a demo card to add and show beacons info
    </ion-card-content>
  </ion-card>

  <ion-card id="beacon_scan" (click)=navigateScanNearBy()>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="search"></ion-icon> Scan Nearby for beacons
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      This is a demo card to scan for beacons
    </ion-card-content>
  </ion-card>

</ion-content>