<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="start"></ion-back-button>
    </ion-buttons>
    <ion-title>Entwickle dein OriGami</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="create_card_create" (click)=navigateCreateGamePage()>
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="construct"></ion-icon> Erstelle ein neues OriGami
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Stell dir dein eigenes Spiel zusammen.
    </ion-card-content>
  </ion-card>

  <ion-card id="create_card_edit">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="create"></ion-icon> Bearbeite ein OriGami
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Bearbeite ein bereits bestehendes Spiel.
    </ion-card-content>
  </ion-card>

</ion-content>