<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color=dark defaultHref="/" text="{{ 'General.back_button' | translate }}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "AnalyzeGame.title" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <!-- <ngx-json-viewer [json]="tracks" [expanded]="false"></ngx-json-viewer> -->

  <ion-list *ngFor="let track of tracks">
    <ion-item>
      <ion-label>{{ track }}</ion-label>
      <ion-icon slot="end" name="trash-outline" (click)="remove(track)"></ion-icon>
      <ion-icon slot="end" name="cloud-upload-outline" (click)="upload(track)"></ion-icon>
    </ion-item>
  </ion-list>


</ion-content>