<ion-label>Richtig</ion-label>
<ion-item lines="none">
  <ion-thumbnail slot="start" *ngIf="photo">
    <img [src]="photo">
  </ion-thumbnail>
  <ion-button (click)=capturePhoto()>Foto aufnehmen</ion-button>
  <ion-button (click)=photoFromLibrary()>Foto aus Galerie</ion-button>
</ion-item>

<ion-label>Falsch</ion-label>
<ion-item lines="none">
  <ion-thumbnail slot="start" *ngIf="photo">
    <img [src]="photo">
  </ion-thumbnail>
  <ion-button (click)=capturePhoto()>Foto aufnehmen</ion-button>
  <ion-button (click)=photoFromLibrary()>Foto aus Galerie</ion-button>
</ion-item>

<ion-label>Falsch</ion-label>
<ion-item lines="none">
  <ion-thumbnail slot="start" *ngIf="photo">
    <img [src]="photo">
  </ion-thumbnail>
  <ion-button (click)=capturePhoto()>Foto aufnehmen</ion-button>
  <ion-button (click)=photoFromLibrary()>Foto aus Galerie</ion-button>
</ion-item>

<ion-label>Falsch</ion-label>
<ion-item lines="none">
  <ion-thumbnail slot="start" *ngIf="photo">
    <img [src]="photo">
  </ion-thumbnail>
  <ion-button (click)=capturePhoto()>Foto aufnehmen</ion-button>
  <ion-button (click)=photoFromLibrary()>Foto aus Galerie</ion-button>
</ion-item>