ion-col {
    text-align: start;
  
    > ion-buttons ,ion-button, ion-icon{
      padding: 0rem;
      margin: 0rem;
    }
  }
  
  ion-list, ion-select{
    padding: 0rem;
  }


  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }