.info {
    background-color: rgba(var(--ion-color-primary-rgb), 0.1);
    padding: 1rem;
    border: rgba(var(--ion-color-primary-rgb), 0.7) 1px solid;
    border-radius: 1rem;
    margin: 1rem 0rem;
    width: 100%;

    > p {
        margin: 0;
        font-size: 0.8rem;
    }
}