ion-refresher {
  z-index: 10;
}

.no-scroll {
  --overflow: hidden;
}

// To capitalize only first letter
ion-segment-button {
  text-transform:none;
}

ion-card-header{
  padding: 0.4rem;
}

.emptygamecontent {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* mutli-player mode */
.numplayersCard {
  padding: 1%;
  color: red;
  border: solid 1px;
  border-color: red;
  background: white;
  border-radius: 5px;
  margin: 0px;
}