<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color=dark defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Bearbeite dein OriGami</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <h5>Wähle ein Spiel aus der Spieleliste.</h5>
  <ion-searchbar (ionChange)="filterList($event)"></ion-searchbar>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let game of games" (click)="gameClick(game)" detail color="secondary" >
    <ion-card-header>
      <ion-label>
        <h2><span *ngIf="game.place">{{ game.place }} - </span>{{ game.name }}</h2>
      </ion-label>
    </ion-card-header>
  </ion-card>
</ion-content>