<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color=dark defaultHref="/" text="{{ 'General.back_button' | translate }}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "EditGame.titleEditGame" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <h5>{{ "GameList.chooseGame" | translate }}</h5>
  <ion-searchbar (ionChange)="filterList($event)"></ion-searchbar>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let game of games" (click)="gameClick(game)" detail color="secondary" >
    <ion-card-header>
      <ion-item lines="none" color="secondary">
      <ion-label>
        <h2><ion-icon name="game-controller"></ion-icon><span *ngIf="game.place"><b>&nbsp;&nbsp;{{ game.place }}</b> - </span> {{ game.name }}</h2>
      </ion-label>
      <!-- <ion-icon name="star" [color]="game.isCuratedGame? 'warning' : ''"></ion-icon> -->
    </ion-item>
    </ion-card-header>
  </ion-card>

    <!-- show this message only when there're no games were created by logged user -->
    <div class="emptygamecontent" *ngIf="showEmptyInfo">
      <h1> {{ "PlayGame.emptyGamesList" | translate }} </h1>
    </div>
</ion-content>