.blur {
  filter: blur(10px);
}

.map {
  height: 300px;
  border-radius: 1rem;
}

.map-section-container {
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 24px;
  margin-bottom: 24px;
  border-radius: 8px;
  background: #f4f5f8;
  padding: 1rem;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
}

.flex-radio-group {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.overlay {
  position: absolute;

  background: white;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);

  &.success {
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    padding: 1rem;
  }
}
