<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color=dark defaultHref="start"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "PlayGame.titlePlayGameMenu" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card id="create_card_create" (click)=navigateToRealGameListPage() color="secondary">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="globe"></ion-icon>{{ "PlayGame.realWorld" | translate }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ "PlayGame.realWorldDescription" | translate }}
    </ion-card-content>
  </ion-card>

  <ion-card id="create_card_create" (click)=navigateToVirtualGameListPage() color="secondary">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="tv"></ion-icon>{{ "PlayGame.virtualWorld" | translate }}
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ "PlayGame.virtualWorldDescription" | translate }}
    </ion-card-content>
  </ion-card>

</ion-content>