<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color=dark defaultHref="/" text="{{ 'General.back_button' | translate }}"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ "GameList.titleGameMenu" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- to scan multiplayer game code -->
  <ion-card (click)=navigateToPlayGameListPage() color="secondary">
  <ion-card-header>
    <ion-card-title>
      <ion-icon name="search-outline"></ion-icon> Find a Game
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Select a game from list.
  </ion-card-content>
</ion-card>

<ion-card (click)=navigateBarcodeScannerPage() color="secondary">
  <ion-card-header>
    <ion-card-title>
      <ion-icon name="qr-code-outline"></ion-icon> Scan Code
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Scan game code provided by instructor
  </ion-card-content>
</ion-card>

</ion-content>