<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="create-game/create-game-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Gestalte dein Spiel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [className]="showSuccess ? 'blur' : ''" (ngSubmit)="uploadGame()">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="stacked">Name <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="text" [(ngModel)]="model.name" name="name"></ion-input>
      </ion-item>


      <!-- <ion-item>
        <ion-label>Tracking <ion-icon name="information-circle" (click)='showTrackingInfo($event, "CHANGE ME")'>
          </ion-icon>
        </ion-label>
        <ion-toggle checked [(ngModel)]="model.tracking" name="tracking"></ion-toggle>
      </ion-item> -->

    </ion-list>

    <div class="ion-padding">
      <ion-button expand="block" type="submit" class="ion-no-margin">Spiel erstellen
      </ion-button>
    </div>
  </form>

  <div class="overlay success" *ngIf="showSuccess">
    <h3>Übertrage Daten...</h3>
    <p>Dein Spiel wurde gespeichert</p>
    <lottie-animation-view [options]="lottieConfig" [width]="300" [height]="300">
    </lottie-animation-view>
    <ion-button (click)="navigateHome()">Fertig</ion-button>
  </div>

</ion-content>