<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal('close')">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Füge Informationen hinzu</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal(null)">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-textarea placeholder=" Informationstext an den Spieler (optional)" [(ngModel)]=info></ion-textarea>
  </ion-item>


  <ion-item lines="none">
    <ion-thumbnail slot="start" *ngIf="photo">
      <img [src]="photo">
    </ion-thumbnail>
    <ion-button (click)=capturePhoto()>Foto aufnehmen</ion-button>
    <ion-button (click)=photoFromLibrary()>Foto aus Galerie</ion-button>
  </ion-item>

  <ion-item detail lines="none" (click)="presentMapFeaturesModal()">
    <ion-label>
      Kartenfeatures
    </ion-label>
  </ion-item>
</ion-content>