<!-- <ion-item lines=" none">
  <ion-label position="floating">{{ label }}</ion-label>
  <ion-input *ngIf="type == 'input'">{{ text }}</ion-input>
  <ion-textarea *ngIf="type == 'area'" value="{{ text }}"></ion-textarea>
</ion-item> -->

<div [formGroup]="group">
  <app-info>{{ config.info }}</app-info>
  <label>{{ config.label }}</label>
  <ion-input *ngIf="config.inputType == 'text'" type="text" [value]="config.text"
    [attr.placeholder]="config.placeholder" [formControlName]="config.name"></ion-input>
  <ion-textarea *ngIf="config.inputType == 'area'" [value]="config.text" [attr.placeholder]="config.placeholder"
    [formControlName]="config.name"></ion-textarea>

</div>