<!-- <ion-item lines=" none">
  <ion-label position="floating">{{ label }}</ion-label>
  <ion-input *ngIf="type == 'input'">{{ text }}</ion-input>
  <ion-textarea *ngIf="type == 'area'" value="{{ text }}"></ion-textarea>
</ion-item> -->

<div [formGroup]="group">
  <!-- <app-info>{{ config.info }}</app-info> -->
  <ion-text>
    <h3>{{ config.label }} <ion-icon *ngIf="config.info" name="information-circle"
        (click)='showPopover($event, config.info)'></ion-icon>
    </h3>
  </ion-text>
  <ion-input *ngIf="config.inputType == 'text'" type="text" [(value)]="config.text"
    [attr.placeholder]="config.placeholder" [formControlName]="config.name"></ion-input>
  <ion-textarea *ngIf="config.inputType == 'area'" [(value)]="config.text" [attr.placeholder]="config.placeholder"
    [formControlName]="config.name"></ion-textarea>

</div>